@charset "UTF-8";
@font-face {
  font-family: 'symbols-font';
  src: url("../font/symbols-font.eot?79112524");
  src: url("../font/symbols-font.eot?79112524#iefix") format("embedded-opentype"), url("../font/symbols-font.woff2?79112524") format("woff2"), url("../font/symbols-font.woff?79112524") format("woff"), url("../font/symbols-font.ttf?79112524") format("truetype"), url("../font/symbols-font.svg?79112524#symbols-font") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-font';
    src: url('../font/symbols-font.svg?79112524#symbols-font') format('svg');
  }
}
*/
/* line 24, D:/dz/tamtamlg.github.io/js19/css/style.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 59, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-linkedin:before {
  content: '\e800'; }

/* '' */
/* line 60, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-facebook:before {
  content: '\e801'; }

/* '' */
/* line 61, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-skype:before {
  content: '\e802'; }

/* '' */
/* line 62, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-twitter:before {
  content: '\e803'; }

/* '' */
/* line 63, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-search:before {
  content: '\e804'; }

/* '' */
/* line 64, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-mobile:before {
  content: '\e805'; }

/* '' */
/* line 65, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-location:before {
  content: '\e806'; }

/* '' */
/* line 66, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-mail-alt:before {
  content: '\e807'; }

/* '' */
/* line 67, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-right-small:before {
  content: '\e808'; }

/* '' */
/* line 68, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.icon-rss:before {
  content: '\e80c'; }

/* '' */
/* line 72, D:/dz/tamtamlg.github.io/js19/css/style.scss */
body {
  margin-top: 37px; }

/* line 76, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/* line 81, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.container {
  width: 1160px;
  margin: 0 auto; }

/* HEADER */
/* line 87, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.main-header {
  margin-bottom: 40px; }

/* line 90, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.logo-group {
  width: 250px;
  margin: 0 0 35px 5px; }

/* line 94, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.logo-group__img {
  vertical-align: top;
  margin-right: 5px; }

/* line 98, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.logo-group__text {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
  width: 200px; }

/* line 104, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.logo-group__text-top {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #434343;
  vertical-align: top; }

/* line 113, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.logo-group__text-bot {
  display: inline-block;
  margin-left: 2px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 4px;
  vertical-align: top; }

/* line 125, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.main-nav {
  background: #2a2d32; }

/* line 128, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.nav-list {
  margin: 0;
  padding: 0;
  width: 900px;
  list-style: none;
  font-size: 0; }
  /* line 134, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .nav-list li {
    display: inline-block; }
  /* line 137, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .nav-list a {
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #181a1d;
    padding: 20px 35px;
    color: #fff; }
  /* line 147, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .nav-list a:hover {
    color: #f4b60d; }

/* line 151, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.nav-list__active {
  background: #248cec; }
  /* line 153, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .nav-list__active a:hover {
    color: #fff; }

/* line 157, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.search {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  border: 2px solid #181a1d;
  background: #35383c; }
  /* line 163, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .search input {
    width: 180px;
    height: 8px;
    padding: 15px;
    border: none;
    border-right: 1px solid #35383c;
    background: #35383c;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 12px; }
  /* line 174, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .search input:focus {
    outline: none; }
  /* line 177, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .search .search-icon__btn {
    display: inline-block;
    padding-right: 5px;
    color: #5d6063; }

/* line 183, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.social {
  float: right;
  width: 200px;
  padding: 13px 0 13px 0;
  font-size: 16px;
  letter-spacing: 8px; }
  /* line 189, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .social a {
    color: #ccc; }
  /* line 192, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .social a:hover {
    color: #248cec; }

/* HEADER end */
/*  SLIDER  */
/* line 199, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.wrap_jcarousel {
  width: 1160px;
  margin: 0 auto;
  position: relative; }

/* line 204, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.jcarousel {
  position: relative;
  overflow: hidden;
  height: 470px; }

/* line 209, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 216, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.jcarousel li {
  float: left; }

/* line 219, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.jcarousel img {
  width: 1160px;
  height: 470px; }

/* line 225, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.jcarousel-pagination {
  font-size: 0;
  width: 100%;
  position: absolute;
  top: 440px;
  text-align: center; }
  /* line 231, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .jcarousel-pagination a {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #fff;
    margin-left: 15px;
    border: 3px solid #fff; }
  /* line 239, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .jcarousel-pagination .active {
    background: #001d1d; }

/* line 244, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.slider-wrap {
  position: relative; }

/* line 248, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.slider-text {
  position: absolute;
  top: 230px;
  left: 35px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 54px;
  line-height: 54px;
  text-transform: uppercase;
  color: #fff; }
  /* line 258, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .slider-text span {
    color: #f4b60d; }
  /* line 261, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .slider-text p {
    margin: 0;
    padding: 0 15px;
    background: rgba(0, 0, 0, 0.7); }
  /* line 266, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .slider-text .slider-text__build {
    width: 160px;
    padding-top: 10px; }
  /* line 270, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .slider-text .slider-text__your {
    width: 160px; }
  /* line 273, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .slider-text .slider-text__buis {
    width: 250px;
    padding-bottom: 10px; }

/*  /SLIDER  */
/* Features */
/* line 285, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.features {
  margin-top: 55px;
  margin-bottom: 85px; }
  /* line 288, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .features .features-item {
    display: inline-block;
    width: 370px;
    margin-right: 19px; }
    /* line 292, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .features .features-item .features-item__num {
      display: inline-block;
      font-family: "Ubuntu", sans-serif;
      font-size: 90px;
      line-height: 90px;
      font-weight: 500;
      vertical-align: top;
      color: #e9e9ea; }
    /* line 301, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .features .features-item .features-item__article {
      display: inline-block;
      width: 260px;
      padding-top: 15px; }
      /* line 305, D:/dz/tamtamlg.github.io/js19/css/style.scss */
      .features .features-item .features-item__article .article-icon__01 {
        width: 32px;
        height: 32px;
        background: url("../img/spritesheet.png") no-repeat;
        background-position: -5px -563px; }
      /* line 311, D:/dz/tamtamlg.github.io/js19/css/style.scss */
      .features .features-item .features-item__article .article-icon__02 {
        width: 32px;
        height: 32px;
        background: url("../img/spritesheet.png") no-repeat;
        background-position: -5px -87px; }
      /* line 317, D:/dz/tamtamlg.github.io/js19/css/style.scss */
      .features .features-item .features-item__article .article-icon__03 {
        width: 32px;
        height: 32px;
        background: url("../img/spritesheet.png") no-repeat;
        background-position: -5px -5px; }
      /* line 323, D:/dz/tamtamlg.github.io/js19/css/style.scss */
      .features .features-item .features-item__article h3 {
        margin: 15px 0 10px 5px; }
      /* line 326, D:/dz/tamtamlg.github.io/js19/css/style.scss */
      .features .features-item .features-item__article p {
        margin-top: 0;
        font-family: "Arial", sans-serif;
        font-size: 13px;
        line-height: 20px;
        color: #8a8a8a; }
      /* line 333, D:/dz/tamtamlg.github.io/js19/css/style.scss */
      .features .features-item .features-item__article a {
        font-family: "Arial", sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: #2a2b2e; }
        /* line 338, D:/dz/tamtamlg.github.io/js19/css/style.scss */
        .features .features-item .features-item__article a i {
          color: #248cec; }
      /* line 342, D:/dz/tamtamlg.github.io/js19/css/style.scss */
      .features .features-item .features-item__article a:hover {
        color: #248cec; }
        /* line 344, D:/dz/tamtamlg.github.io/js19/css/style.scss */
        .features .features-item .features-item__article a:hover i {
          color: #8a8a8a; }
  /* line 350, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .features .features-item:last-child {
    margin-right: 0; }

/* Features end */
/* Galery */
/* line 357, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.galery-wrap {
  padding-top: 45px;
  padding-bottom: 65px;
  background: #2a2d32; }
  /* line 362, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .galery-wrap .galery h2 {
    margin-bottom: 55px;
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #fff; }
  /* line 370, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .galery-wrap .galery .galery__item {
    width: 260px;
    display: inline-block;
    margin-right: 34px;
    cursor: pointer; }
    /* line 375, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .galery-wrap .galery .galery__item img {
      width: 260px;
      height: 260px; }
    /* line 379, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .galery-wrap .galery .galery__item p {
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: #fff;
      text-align: center; }
    /* line 387, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .galery-wrap .galery .galery__item a {
      text-decoration: none;
      color: #fff; }
    /* line 391, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .galery-wrap .galery .galery__item .galery__hover {
      display: none;
      width: 260px;
      height: 260px;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(36, 140, 236, 0.9); }
    /* line 400, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .galery-wrap .galery .galery__item .galery__hover:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 116px;
      width: 30px;
      height: 2px;
      background: #fff; }
    /* line 409, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .galery-wrap .galery .galery__item .galery__hover:before {
      content: '';
      position: absolute;
      top: 116px;
      left: 50%;
      width: 2px;
      height: 30px;
      background: #fff; }
  /* line 419, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .galery-wrap .galery .galery__item:last-child {
    margin-right: 0; }
  /* line 422, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .galery-wrap .galery a:hover {
    color: #f4b60d; }
  /* line 425, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .galery-wrap .galery .galery__img-wrap:hover {
    position: relative; }
    /* line 427, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .galery-wrap .galery .galery__img-wrap:hover .galery__hover {
      display: block; }

/* Galery end*/
/* News-banners */
/* line 439, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.news-banners-wrap {
  background: #f7f7f7;
  padding-top: 65px; }
  /* line 443, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .news-banners-wrap .news-banners {
    padding-bottom: 80px; }
  /* line 446, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .news-banners-wrap h2 {
    margin: 0 0 50px 0; }

/* line 450, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.news {
  float: left; }

/* line 453, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.news__item {
  width: 565px;
  position: relative;
  margin-bottom: 30px; }

/* line 458, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.news__img {
  float: left; }

/* line 462, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.news__article {
  width: 385px;
  margin: 0;
  float: right;
  font-family: "Arial", sans-serif;
  font-size: 13px; }
  /* line 468, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .news__article h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px; }
    /* line 474, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .news__article h4 a {
      color: #000; }
    /* line 477, D:/dz/tamtamlg.github.io/js19/css/style.scss */
    .news__article h4 a:hover {
      color: #248cec; }
  /* line 482, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .news__article p {
    margin-top: 30px;
    line-height: 20px;
    color: #8a8a8a; }
  /* line 487, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .news__article a {
    text-decoration: none;
    color: #248cec; }
  /* line 491, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .news__article span {
    color: #8a8a8a; }

/* line 495, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.news__calendar {
  position: absolute;
  top: 13px;
  left: -18px;
  width: 40px;
  height: 80px; }
  /* line 501, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .news__calendar .news__month {
    background: #248cec;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #fff; }
  /* line 511, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .news__calendar .news__day {
    background: #f4b60d;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #2a2b2e; }

/* line 523, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.banners {
  width: 560px;
  margin-left: 30px;
  float: right; }

/* line 528, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.accordion {
  list-style: none;
  font-size: 0;
  padding: 0; }

/* line 533, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.accordion__item {
  margin-bottom: 5px; }
  /* line 535, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .accordion__item .accordion__plus {
    cursor: pointer;
    width: 40px;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    padding: 14px 0;
    text-align: center;
    display: inline-block;
    border: 1px solid #e8e8e8; }
  /* line 545, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .accordion__item .accordion__plus:after {
    content: '+'; }
  /* line 548, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .accordion__item .accordion__panel {
    cursor: pointer;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    padding: 14px;
    display: inline-block;
    text-transform: uppercase;
    width: 480px;
    border: 1px solid #e8e8e8; }
  /* line 558, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .accordion__item p {
    display: none;
    width: 550px;
    font-family: "Arial", sans-serif;
    font-size: 13px; }

/* line 567, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.accordion__item-active .accordion__plus {
  background: #f4b60d;
  border: 1px solid #f4b60d;
  border-right-color: #f6c53d;
  color: #fff; }

/* line 573, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.accordion__item-active .accordion__plus:after {
  content: '-'; }

/* line 576, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.accordion__item-active .accordion__panel {
  background: #f4b60d;
  border: 1px solid #f4b60d;
  border-left-color: #f6c53d;
  color: #fff; }

/* line 582, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.accordion__item-active p {
  display: block;
  color: #8a8a8a;
  line-height: 20px;
  margin: 25px 0 30px; }

/* News-banners end*/
/* Partners */
/* line 593, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.partners {
  margin-top: 80px;
  margin-bottom: 100px; }
  /* line 596, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .partners a {
    display: inline-block;
    width: 143px;
    height: 62px;
    background: url("../img/spritesheet.png") no-repeat;
    margin-right: 50px; }
  /* line 603, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .partners a:last-child {
    margin-right: 0; }
  /* line 606, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .partners .partners__1 {
    background-position: -5px -129px; }
  /* line 609, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .partners .partners__2 {
    background-position: -5px -201px; }
  /* line 612, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .partners .partners__3 {
    background-position: -5px -273px; }
  /* line 615, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .partners .partners__4 {
    background-position: -5px -347px; }
  /* line 618, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .partners .partners__5 {
    background-position: -5px -419px; }
  /* line 621, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .partners .partners__6 {
    background-position: -5px -491px; }

/* Partners end */
/* Links */
/* line 631, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.links-wrap {
  background: #2a2d32;
  padding-top: 60px;
  padding-bottom: 80px; }

/* line 636, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.links__item {
  display: inline-block;
  width: 260px;
  margin-right: 34px; }
  /* line 640, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .links__item h4 {
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase; }
  /* line 648, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .links__item a {
    display: block;
    font-weight: 700;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 36px;
    color: #8a8a8a;
    border-bottom: 1px solid #8a8a8a; }
  /* line 658, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .links__item a:last-child {
    border-bottom: none; }
  /* line 661, D:/dz/tamtamlg.github.io/js19/css/style.scss */
  .links__item a:hover {
    color: #248cec; }

/* line 665, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.links__item:last-child {
  margin-right: 0; }

/* Links end */
/* FOOTER */
/* line 672, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.main-footer {
  background: #35383c;
  color: #8a8a8a;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 20px;
  padding-top: 25px;
  padding-bottom: 25px; }

/* line 681, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.footer__item {
  float: left;
  margin-right: 25px; }

/* line 685, D:/dz/tamtamlg.github.io/js19/css/style.scss */
.footer__item:last-child {
  float: right;
  margin-right: 0; }

/* FOOTER end*/

/*# sourceMappingURL=style.css.map */