<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>new_project</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="js/template.js"></script>
  <script src="js/main.js"></script>
  <script type="text/template" id="test">
    <h1>Тест по программированию</h1>
  <form action="">
    <ol>
      <% for (var k = 0; k < questionsArray.length; k++) { %>
      <li><%= questionsArray[k].questionText %>
    <% for (var j = 0; j < questionsArray[k].answer.length; j++) { %>
      <div>
        <label>
          <input type="checkbox" value="<%= questionsArray[k].answer[j].correct %>">&nbsp;<%= questionsArray[k].answer[j].text %>
        </label>
      </div>
    <% }; %>
    </li><br>
    <% }; %>
    </ol>
  </form>
  <div>
    <button type="reset">Проверить мои результаты</button>
  </div>
  </script>
</head>
<body>
  <div class="popup">
    <a class="close" href="#" title="Закрыть">X</a>
    <p></p>
  </div>
</body>
</html>

</body>
</html>