@import "variables.scss";

@font-face {
    font-family: 'Roboto';
    src: url('../font/robotoregular-webfont.woff2') format('woff2'),
         url('../font/robotoregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  font-family: 'Roboto';
}
.container-fluid {
  max-width: 1366px;
}

/*HEADER*/
header {
  height: 1270px;
  transform: skewY(-5deg);
  padding-top: 610px;
  margin-top: -590px;
  color: #fff;
  background: #4a454b;
  background-image: url(../img/icon1.png),
                    url(../img/icon2.png),
                    url(../img/icon3.png),
                    url(../img/icon4.png),
                    url(../img/icon5.png);
  background-repeat:  no-repeat,
                      no-repeat,
                      no-repeat,
                      no-repeat,
                      no-repeat;
  background-position:  30px 1125px,
                        160px 1125px,
                        290px 1125px,
                        420px 1125px,
                        550px 1125px;
}
header > * {
  transform: skewY(5deg);
}

/*nav*/
.navbar-toggle {
  background: #4a454b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #777;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  line-height: 70px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bbb;
  background-color: transparent;
}
/*nav end*/

.timer {
  max-width: 970px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border: 2px solid #90d23d;
  border-radius: 17px;
}

.days,
.hours,
.minutes,
.seconds,
.timer-dot {
  display: inline-block;
  text-align: center;
}
.days-text,
.hours-text,
.minutes-text,
.seconds-text {
  font-size: 25px;
  text-transform: uppercase;
}
.days-num,
.hours-num,
.minutes-num,
.seconds-num,
.timer-dot {
  font-size: 130px;
  line-height: 130px;
  font-weight: 300;
}
.days,
.hours,
.minutes {
  margin-right: 50px;
  position: relative;
}
.days:after,
.hours:after,
.minutes:after {
  content: ':';
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 100px;
}

/*HEADER end*/

/*WELCOME*/
.welcome {
  padding-top: 80px;
  
  h2 {
    font-size: 50px;
    color: #242424;
    font-weight: 700;
  }
}

.sign-up {
  margin-top: -230px;
  margin-bottom: 100px;
  form {
    background: #fff;
    width: 430px;
    margin: 0 auto;
    border: 1px solid #dbdada;
    padding: 25px;
    box-shadow: 0 1px 1px 0px #999;
  }
  h3 {
    font-size: 30px;
    color: #252525;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
.sign-up input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  line-height: 54px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 19px;
  color: #6c6c6c;
}
.sign-up input:focus {
  border: 1px solid #90d23d;
}
input[type='submit'] {
  background: #90d23d;
  color: #fff;
  border: none;
}


/*WELCOME end*/




















