/********************slider********************/
.wrap_jcarousel{
  width: 350px;
  margin: 10px auto;
  position: relative;
}
.jcarousel {
  position: relative;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 5px;
  height: 263px;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  float: left;
}
.jcarousel-next{
  position: absolute;
  bottom: 120px;
  right: -50px;
  text-decoration: none;
  color: #333;
  font-size: 30px;
}
.jcarousel-prev{
  position: absolute;
  bottom: 120px;
  left: -50px;
  text-decoration: none;
  color: #333;
  font-size: 30px;
}
.jcarousel-pagination {
  text-align: center;
}
.jcarousel-pagination a {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background: #333;
}
/*
#idSelect-styler{
  margin: 50px;
}
*/

/**************checkbox jquery**************/


.jqr.active {
  background: url(../img/spritesheet.png) no-repeat -5px -80px;
}
.jqr input {
  display: none;
}
.jqr {
  margin-top: 30px;
  display: inline-block;
  padding-left: 75px;
  line-height: 75px;
  vertical-align: middle;
  height: 75px;
  vertical-align:baseline;
  background: url(../img/spritesheet.png) no-repeat -5px -5px;
  
}

/**************checkbox css**************/
input[type=checkbox] {
  position: absolute;
  display: none;
}
.css:before {
  content: " ";
  display: inline-block;
  width: 75px;
  height: 75px;
  background: url(../img/spritesheet.png) no-repeat -5px -5px;
  position: relative;
  top: 30px;
}
input[type=checkbox]:checked + label:before {
  background: url(../img/spritesheet.png) no-repeat -5px -80px;
}

/************MENU*********/

nav {
  background: #000077;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  position: relative;
}

nav li ul {    
  background: #0000ff;
  position: absolute;
  left: 0;
  top: 40px;
  width: 200px;
}
nav li li {
  position: relative;
  margin: 0;
  display: block;
}
nav li li ul {
  position: absolute;
  top: 0;
  left: 200px;
  margin: 0;
}
nav a {
  line-height: 40px;
  padding: 0 12px;
  margin: 0 12px;
  color: #fff;
  text-decoration: none;
  display: block;
}
nav a:hover,
nav a:focus,
nav a:active {
  color: #999;
}
nav li li a {
  border-bottom: 1px solid #fff;
  margin: 0 10px;
  padding: 0;
}
nav li li:last-child a {
  border-bottom: none;
}
ul.submenu {
  display:none;
}
