body {
  background: #171717;
  position: relative;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/* HEADER */
header {
  position: relative;
  height: 146px;
  background: url("../img/header.jpg") center top repeat-x; }

.location {
  display: block;
  position: absolute;
  top: 40px;
  left: 30px;
  color: #fff; }
  .location .fa-map-marker {
    font-size: 40px;
    color: #fff;
    margin-right: 15px; }

.location:hover,
.location:focus {
  color: #fff;
  text-decoration: none; }

.city-list {
  display: none;
  position: absolute;
  top: 60px;
  left: 70px;
  width: 175px;
  padding: 0;
  background: rgba(0, 0, 0, 0.9);
  list-style: none;
  text-align: left;
  z-index: 30; }
  .city-list li {
    padding: 5px; }
  .city-list a {
    color: #fff;
    display: block; }
  .city-list a:hover,
  .city-list a:focus {
    color: lightblue;
    text-decoration: none; }

.logo-container {
  text-align: center; }
  .logo-container img {
    width: 264px; }

.dotted-line {
  height: 23px;
  background: url("../img/line.png") repeat-x; }

.bars {
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  z-index: 20; }

.bars:hover,
.bars:focus {
  color: #fff; }

.callback {
  position: absolute;
  top: 10px;
  right: 300px;
  color: #fff; }

/* HEADER end */
/* MENU */
.open-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #212127;
  opacity: 0.7;
  display: none;
  transition: all 0.5s ease-in-out; }

.main-menu {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  padding-top: 146px; }
  .main-menu ul {
    list-style: none; }
  .main-menu li {
    height: 40px; }
  .main-menu a {
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 22px; }
  .main-menu a:hover {
    color: lightblue;
    text-decoration: none; }
  .main-menu .callback-menu {
    margin-top: 30px; }

/* MENU end*/
/* CONTENT */
.content {
  width: 100%;
  background: url("../img/bg.jpg") center top; }

/* slider */
.slider {
  margin-bottom: 50px; }

.slides {
  margin-top: 50px;
  color: #fff; }
  .slides li {
    text-align: center; }
  .slides h3 {
    text-align: center; }

/* slider end */
.calendar {
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 5px; }

.calendar:hover {
  color: lightblue;
  border: 1px solid lightblue;
  text-decoration: none; }

.radio-wrapper {
  float: right;
  padding: 10px; }

.radio-item {
  display: inline-block;
  cursor: pointer;
  margin-left: 20px; }

.radio-item:first-child {
  margin-left: 0; }

/* gallery */
.gallery {
  margin-top: 50px;
  margin-bottom: 50px; }

.gallery-item {
  margin-bottom: 25px; }
  .gallery-item .zoom {
    transition: all 0.5s ease-out; }

.gallery-img-container {
  position: relative;
  overflow: hidden; }

.img-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 104, 189, 0.6); }

.gallery-item:hover .zoom {
  transform: scale(1.1); }

.gallery-item:hover .img-hover {
  display: block; }

.game-logo {
  position: absolute;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.game-title {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center; }
  .game-title p {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background: rgba(193, 193, 193, 0.3);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300; }

/* gallery end*/
.info {
  margin-bottom: 50px; }

/* CONTENT end */
/* FOOTER */
footer {
  padding: 10px;
  min-height: 100px;
  background: url("../img/footer-bg.jpg") center top; }
  footer p {
    margin-top: 10px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: lightblue;
    text-decoration: none; }

.footer-menu {
  padding: 0;
  margin-top: 20px;
  list-style: none; }
  .footer-menu li {
    display: inline-block; }
  .footer-menu a {
    display: block;
    width: 48px;
    text-align: center;
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 50%; }
  .footer-menu a:hover {
    border-color: lightblue; }

.copy {
  margin-top: 15px; }

/* FOOTER end */
/* ROOM */
.schedule {
  margin-top: 50px;
  margin-bottom: 50px; }

td,
th {
  text-align: center; }

td div {
  border-radius: 10px; }

td:hover {
  text-decoration: underline; }

th:hover {
  cursor: default; }

.t-active {
  background-color: #ababab; }

.t-active:hover,
.t-time:hover {
  text-decoration: none;
  cursor: default; }

.t-success {
  background-color: #5cb85c;
  cursor: pointer; }

.t-info {
  background-color: #5bc0de;
  cursor: pointer; }

.t-warning {
  background-color: #f0ad4e;
  cursor: pointer; }

.t-danger {
  background-color: #d9534f;
  cursor: pointer; }

.results {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

.show-results {
  margin-top: 30px; }

.room {
  position: relative; }

.room-left-panel {
  position: absolute;
  top: 20px;
  left: 20px; }
  .room-left-panel h3 {
    text-transform: uppercase; }

.room-description {
  width: 40%; }

.team-results {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  text-decoration: underline; }

.team-results:hover {
  color: lightblue; }

.average-time {
  position: absolute;
  top: 20px;
  right: 20px; }

.room-right-panel {
  position: absolute;
  bottom: 20px;
  right: 20px; }

.room-images {
  display: block;
  width: 100%;
  height: auto; }

/* ROOM end*/
/* SCHEDULE */
.schedule h2 {
  text-transform: uppercase; }
  .schedule h2 a {
    color: #fff; }
  .schedule h2 a:hover {
    color: lightblue; }

/* SCHEDULE end */
/* MODAL #reservation */
.modal-content {
  color: #333; }
  .modal-content input {
    max-width: 170px;
    margin-bottom: 10px; }
  .modal-content label {
    font-weight: normal;
    margin-bottom: 0; }

/* MODAL #reservation end */
@media only screen and (max-width: 1200px) {
  .callback {
    right: 200px; } }

@media only screen and (max-width: 1100px) {
  .room-description,
  .room-right-panel {
    font-size: 14px; } }

@media only screen and (max-width: 992px) {
  footer {
    text-align: center; }
    footer .copy p {
      text-align: center; } }

@media only screen and (max-width: 960px) {
  .room-description {
    display: none; } }

@media only screen and (max-width: 800px) {
  .radio-wrapper {
    float: none;
    margin-top: 20px; } }

@media only screen and (max-width: 768px) {
  .radio-item {
    display: block;
    margin-left: 0;
    margin-top: 20px; }
  .room-logo {
    max-width: 70px;
    max-height: 70px; } }

@media only screen and (max-width: 570px) {
  .average-time,
  .room-complexity {
    display: none; }
  .team-results,
  .room-right-panel {
    display: block;
    position: static;
    text-align: center;
    margin-top: 30px; }
  .time-to-play,
  .team {
    font-size: 14px; }
  .room h3 {
    font-size: 16px; }
  .room-logo {
    max-width: 50px;
    max-height: 50px; } }

@media only screen and (max-width: 480px) {
  .calendar {
    display: block;
    width: 100%;
    margin-bottom: 20px; } }