* {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-size: 18px;
}

h1 {
  text-transform: uppercase;
  color: gray;
}

.field {
  margin-top: 20px;
  display: inline-block;
  border: 2px solid gray;
}

.rows {
  height: 75px;
}

.cell {
  background-size: cover;
  display: inline-block;
  border: 2px solid gray;
  width: 75px;
  height: 75px;
}

.hover-cell {
  background-image: none !important;
  background: lightblue;
}
