body {
	margin: 0;
	padding: 0;
	background-color: #0c739f;
	background-image: url(../img/background.png); background-repeat: repeat-x;
	
}

.container {
	margin: 0 auto;
	width: 1000px;
	background: #fff;
}
.header {
	padding: 10px 27px 0 27px;
}
.clearfix:after {
	content: "";
	clear: both;
	display: table;
}
.logo {
	float: left;
	margin-bottom: 0;
	position: relative;
}
.logo p {
	position: absolute;
	top: 90px;
	left: 70px;
	font-size: 12px;
	color: #41a1b9;
}
.contacts {
	float: right;
	padding-left: 400px;
}
.contacts p {
	margin: 0;
	color: #41a1b9;
	font-size: 12px;
}
.flags {
	float: right;
	
}
.flags ul {
	list-style: none;
	padding: 0;
	margin-top: 35px;
	margin-bottom: 0;
	font-size: 0;
}
.flags li {
	display: inline-block;
	margin-left: 1px;
	width: 55px;
}
.flags li a {
	display: block;
	text-align: center;
	font-size: 10px;
	color: #41a1b9;
}
.flags li p {
	margin: 0;
}
.image img{
	margin-top: -5px;
	width: 1000px;
	height: 237px;
	border: 1px solid #41a1b9;
}

/******BEGIN MENU********/

.navigation ul {
	list-style: none;
	margin: -5px 0 0 0;
	font-size: 0;
	background: #343434;
	border-bottom: 2px solid #000;
}
.first-menu li {
	display: inline-block;
}
.first-menu a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	margin-right: 15px;
}

.arrow:after{
	content: "";
	display: inline-block;
	margin-left: 5px;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #fff;
  }
.second-menu-travel, 
.second-menu-service, 
.second-menu-partners {
	display: none;
}
.second-menu {
	position: relative;
}
.second-menu-travel, 
.second-menu-service, 
.second-menu-partners{
	margin: 0;
	padding: 0;
	font-size: 0;
	background: #343434;
	border-top: 2px solid #000;
	position: absolute;
	top: 41px;
	z-index: 10;
}
.second-menu-travel li,
.second-menu-service li, 
.second-menu-partners li {
	display: block;
}
.second-menu-travel a, 
.second-menu-service a, 
.second-menu-partners a{
	display: block;
	padding: 10px 47px 10px 10px;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	margin: 0;
}
.second-menu:hover .second-menu2 {
	display: block;
}
.second-menu ul {
	border-bottom: none;
	box-shadow: 0px 5px 7px 2px #707070;
}
.second-menu2 a:hover {
	background: #444;
}
/******END MENU********/

.content {
	overflow: hidden;
}
.content p{
	margin: 5px;
}
.content h3 {
	margin: 5px;
}
.bg1 {
	width: 100%;
	float: left;
	position: relative;
	right: 580px;
	background: #edeef0;
	border-right: 1px solid #c7cacf;
}
.bg2 {
	width: 100%;
	float: left;
	position: relative;
	right: 210px;
	background: #fff;
	border-right: 1px solid #c7cacf;
}
.bg3 {
	width: 100%;
	float: left;
	position: relative;
	background: #edeef0;
	
}
.left-column {
	float: left;
	width: 210px;
	position: relative;
	text-align: center;
	left: 790px;
	min-height: 1px;
}
.center-column {
	float: left;
	width: 580px;
	overflow: hidden;
	position: relative;
	text-align: center;
	left: 790px;
	min-height: 1px;
}
.right-column {
	float: left;
	overflow: hidden;
	width: 210px;
	position: relative;
	left: 790px;
	text-align: center;
	min-height: 1px;
}
.footer {
	background: transparent;
	color: #fff;
	text-align: center;
}
.footer p {
	font-size: 12px;
	margin: 10px 0;
}



