@font-face {
    font-family: "Lucida Sans Unicode";
    src: url(../fonts/'lucida_sans_unicode_regular-webfont.eot');
    src: url(../fonts/'lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url(../fonts/'lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url(../fonts/'lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url(../fonts/'lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 18px 0 0 0;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
}
.container {
    width: 912px;
    margin: 0 auto;
    overflow: hidden;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.telephone {
    position: relative;
    float: left;
    margin-left: 7px;
}
.telephone:before {
    content: "";
    position: absolute;
    margin-left: 8px;
    top: 5px;
    left: -7px;
    width: 22px;
    height: 21px;
    background: transparent url(../img/spritesheet.png) no-repeat;
    background-position: -5px -344px;
}
.telephone span{
    margin: 0 0 0 26px;
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 30px;
    color: #5e696d;
    letter-spacing: -0.2px;
}
.user-block {
    position: relative;
    float: left;
    margin-left: 21px;
    width: 475px;
    padding: 0px 10px 0px 10px;
    background: #124468;
    background: linear-gradient(to top, #0c3357, #1f6787);
    border-radius: 4px;
    border-top: #a6c3cf;
    border-bottom: #596d80;
    box-shadow: 1px 1px 3px 1px #cbcbcb;
}
.user-block:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 7px;
    width: 14px;
    height: 18px;
    background: transparent url(../img/spritesheet.png) no-repeat;
    background-position: -5px -225px;
}
.input {
    margin: 0px 0px 0 14px;
    padding: 4px 0;
    width: 236px;
    font-size: 0;
    
}
.user-block input[type="text"],
.user-block input[type="password"] {
    padding: 0px 4px;
    width: 105px;
    height: 16px;
    border: 1px solid #82949c;
    border-radius: 2px;
    font-size: 11px;
}
input[type="text"] {
    margin-right: 6px;
}
.submit {
    float: right;
    font-size: 0;
    height: 25px;
    position: relative;
}
.submit input[type="submit"] {
    border: none;
    font-size: 11px;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    background: transparent;
    color: #fff;
    margin-right: 5px;
    letter-spacing: -1.0px;
}

/*
.submit:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 30px;
    height: 10px;
    border-left: 1px solid #fff;
}
*/
/*
.submit:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 124px;
    width: 94px;
    border-bottom: 1px solid #bfbfbf;
}
*/
.submit a {
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    letter-spacing: -0.2px;
    border-left: 2px solid #fff;
  	padding-left: 4px;
}
.submit a:last-child {
    margin-left: 24px;
    color: #bfbfbf;
    font-size: 12px;
    text-decoration: underline;
    border-left: none;
  	padding-left: 0px;
}
.icons {
    float: right;
    margin-right: 8px;
    margin-top: 2px;
    width: 75px;
    height: 20px;
    border: 1px solid #c1c8cb;
    border-radius: 10px;
    position: relative;
}
.icons a {
    display: block;
}
.icon1 {
    position: absolute;
    top: 2px;
    left: 8px;
    width: 12px;
    height: 11px;
    background: transparent url(../img/spritesheet.png) no-repeat;
    background-position: -5px -253px;
}
.icon2 {
    position: absolute;
    top: 4px;
    left: 28px;
    width: 14px;
    height: 10px;
    background: transparent url(../img/spritesheet.png) no-repeat;
    background-position: -5px -324px;
}
.icon3 {
    position: absolute;
    top: 4px;
    left: 51px;
    width: 12px;
    height: 9px;
    background: transparent url(../img/spritesheet.png) no-repeat;
    background-position: -5px -305px;
}
.logo {
    font-size: 0;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 6px;
}
.logo img {
    width: 909px;
    height: 237px;
}

nav {
    background: #121415;
    background: linear-gradient(to top, #010101, #2d3236 80%, #505860 );
    border: 1px solid #0a1030;
    border-radius: 5px;
    padding: 4px 0;
    box-shadow: 1px 1px 6px 1px #50525e;
}

nav ul {
    list-style: none;
    margin: 0 0 0 127px;
    padding: 0;
    font-size: 0;
    width: 506px;
    float: left;
}
nav li {
    display: inline-block;
    margin-right: 3px;
}
nav li a {
    display: block;
    padding: 2px 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    color: #b1bcc0;
    letter-spacing: -1px;
    word-spacing: 7px;
}
nav li a:hover {
    background: linear-gradient(to top, #0c3357, #1f6787);
    border-radius: 30px;
}
.active {
    background: linear-gradient(to top, #0c3357, #1f6787);
    border-radius: 30px;
}
.store {
    float: right;
    padding-right: 17px;
    padding-left: 27px;
    margin-top: 2px;
    position: relative;
}
.store:after {
    content: "";
    position: absolute;
    margin-left: 8px;
    top: 2px;
    left: -10px;
    width: 21px;
    height: 17px;
    background: transparent url(../img/spritesheet.png) no-repeat;
    background-position: -5px -28px;
}
.goods a{
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #929b9f;
    text-decoration: none;
}
.goods-num {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #0d5a8f;
}
.summ {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #929b9f;
    margin-left: 11px;
}
.summ-num {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #0d5a8f;
    margin-left: 10px;
}
.select-auto {
    float: left;
    width: 413px;
    height: 133px;
    border: 1px solid #b6b6b7;
    border-radius: 18px;
    box-shadow: 2px 2px 7px 0px #a5a5a5;
    position: relative;
}
.select-auto select{
    width: 100px;
    margin-bottom: 5px;
}
.select{
    margin-top: 11px;
    margin-bottom: 15px;
    padding-left: 11px;
}
select[name="year1"], 
select[name="year2"] {
    width: 58px;
}
.select-auto-left {
    float: left;
    text-align: left;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 20px;
}
.select-auto-right {
    float: left;
    text-align: left;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: -2px;
}
.select p {
    margin: 4px;
}
.auto-headers {
    text-align: center;
    margin-top: -1px;
}
.auto-auto {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #154467;
    font-weight: bold;
    margin-left: 66px;
    margin-right: 70px;
    letter-spacing: 1.3px;
}
.auto-disk {
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 10px;
    color: #154467;
    font-weight: bold;
    letter-spacing: 0.8px;
}
.auto-tire {
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 10px;
    color: #154467;
    font-weight: bold;
}
.color-gray {
    font-family: Arial, sans-serif;
    font-size: 9px;
    color: #77858b
}
.column1 {
    width: 75px;
    float: left;
    line-height: 10px;
    margin-left: 13px;
    margin-right: 5px;
    margin-top: 4px;
}
.select input[type="submit"] {
    font-style: italic;
    text-decoration: underline;
    border: none;
    background: transparent;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #154467;
    line-height: 28px;
    margin-top: -4px;
}
.column2 {
    float: left;
    width: 100px;
}
.select-tire {
    float: left;
    margin-left: 14px;
    width: 191px;
    height: 134px;
    border: 1px solid #b6b6b7;
    border-radius: 18px;
    box-shadow: 2px 2px 7px 0px #a5a5a5;
    position: relative;
}
.tire-headers {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #154467;
    font-weight: bold;
    text-align: left;
    padding-left: 7px;
    letter-spacing: 2px;
}
.select-tire-left {
    float: left;
    padding: 0;
    margin-right: 0px;
    margin-left: 7px;
    margin-top: 5px;
    text-align: left;
    width: 49px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 10px;
}
.select-tire-left p {
    margin-top: 5px;
    margin-bottom: 10px;
}
.select-tire-right {
    float: left;
    text-align: left;
    width: 125px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 20px;
}
.select-tire-right input[type="submit"] {
    margin-top: -8px;
    margin-right: 3px;
}
.select-tire select {
    width: 52px;
}
.select-tire-right select:nth-child(1) {
    margin-right: 5px;
}
.select-tire-right select:nth-child(2) {
    margin-left: 1px;
}
select[name="radius"] {
    width: 45px;
    margin-top: 4px;
    margin-bottom: 11px;
}
.select-tire-right p {
    line-height: 10px;
    margin: 0;
    letter-spacing: 1px;
}
.r {
    text-align: right;
}
.select-disc {
    float: left;
    margin-left: 10px;
    width: 267px;
    height: 133px;
    border: 1px solid #b6b6b7;
    border-radius: 18px;
    box-shadow: 2px 2px 7px 0px #a5a5a5;
    position: relative;
}
.select-disc select {
    width: 58px;
}
.disc-headers {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #154467;
    font-weight: bold;
    text-align: left;
    padding-left: 8px;
    width: 106px;
    letter-spacing: 2px;
}
.select-disc-left {
    float: left;
    text-align: left;
    width: 85px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 0.2px;
    line-height: 10px;
    margin-left: 17px;
    margin-right: 5px;
}
.column3 {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 10px;
}
.column3-left {
    width: 58px;
}
.column3-left select {
    margin-top: 3px;
    margin-bottom: 11px;
}
.column3-left select[name="numb3"] {
    width: 50px;
}
.column3-right {
    position: relative;
    width: 80px;
    float: right;
    padding-left: 10px;
    margin-left: 65px;
    top: -107px;
    letter-spacing: 0.4px;
}
.column3-right select {
    margin-left: 4px;
    margin-bottom: 5px;
}

.column3-right p {
    margin: 1.3px;
}
.column3-right:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 2px;
    border-left: 1px solid #bdc6ca;
    height: 105px;
}
.left-column {
    float: left;
    width: 186px;
    padding-top: 0px;
}
.right-column {
    float: right;
    width: 186px;
}
.galery {
    margin-left: 6px;
    padding: 14px 22px 3px 22px;
    float: left;
    width: 481px;
    background: #a0b1b8;
    background: linear-gradient(to top, #93a7b0, #e5e7e8);
    border: 1px solid #f3f4f4;
    font-size: 0;
    border-radius: 2px;
}
/***********galery-item begin***********/
.galery-item {
    width: 138px;
    text-align: center;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 25px;
}
.galery-item:nth-child(3n) {
    margin-right: 0;
}
.galery-item .figure {
    padding: 0;
    margin: 0;
}
.item-img {
    width: 136px;
    height: 117px;
    background: #fff;
    border: 1px solid #c3cacc;
    padding: 5px 0;
    border-radius: 8px;
}
.galery-item h3 {
    margin: 0;
    color: #206988;
    font-family: "Lucida Sans Unicode";
    font-size: 15px;
    line-height: 15px;
}
.figcaption {
    color: #000;
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
    line-height: 12px;
}
.price {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #114165;
    font-style: italic;
    font-weight: bold;
    margin-top: 4px;
}
.price span {
    font-size: 12px;
}
/***********galery-item end***********/
.left-heading {
    margin-bottom: 15px;
    text-transform: uppercase;
    padding-left: 27px;
    margin-top: 3px;
    width: 153px;
    position: relative;
    font-size: 13px;
    line-height: 24px;
    border: 1px solid #8b979c;
    border-radius: 12px;
    color: #114165;
    box-shadow: 1px 1px 2px 1px #bfbfbf;
}
.left-heading:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 21px;
    background: transparent url(../img/spritesheet.png) no-repeat;
    background-position: -5px -274px;
}
.left-heading-tire {
    width: 118px;
    text-transform: uppercase;
    padding-left: 29px;
    position: relative;
    font-size: 14px;
    line-height: 25px;
    border: 1px solid #8b979c;
    border-radius: 12px;
    color: #114165;
    margin-left: 2px;
}
.left-heading-tire:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    width: 22px;
    height: 22px;
    background: #114165;
    border-radius: 50%;
}
.left-heading-tire:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 9px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
}
.left-column ul {
    list-style: none;
    padding: 0 0 0 37px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.left-column li {
    position: relative;
    padding: 3px 1px 2px 11px;
}
.left-column ul a {
    text-decoration: none;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    line-height: 14px;
    color: #114165;
}
.left-column ul a:hover {
    text-decoration: underline;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #114165;
    font-style: italic;
}
.left-column ul a:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 8px;
    height: 8px;
    background: #79878d;
    border-radius: 50%;
}
.left-column ul a:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 2px;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
}
.left-column ul a:hover:before {
    background: #313a55;
}
.check {
    margin-left: 25px;
    line-height: 26px;
}
.check span {
    margin-left: 15px;
}
input[type="checkbox"] {
    vertical-align: middle;
}
.right-column .left-heading {
    padding: 0px 0px 0px 32px;
    width: 149px;
}
.right-column .left-heading:before {
    top: 0px;
    left: 4px;
}
.right-column .left-heading-tire {
    margin-left: 15px;
    width: 106px;
    margin-top: 8px;
    margin-bottom: 2px;
}
.right-column input[type="submit"] {
    border: none;
    width: 82px;
    height: 26px;
    border-radius: 10px;
    background: linear-gradient(to top, #0c3357, #1f6787);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-left: 25px;
    box-shadow: 1px 1px 2px 1px #bfbfbf;
}
.partners {
    margin-top: 35px;
    margin-bottom: 27px;
    font-size: 0;
    vertical-align: middle;
}
.partners a {
    display: inline-block;
}
.partner-inl {
    background: url(../img/spritesheet.png);
    vertical-align: middle;
}

.toyo {
    width: 83px;
    height: 21px;
    background-position: -5px -375px;
    margin-left: 118px;
    margin-top: 6px;
}
.bridgstone {
    width: 97px;
    height: 14px;
    background-position: -5px -55px;
    margin-left: 12px;
    margin-top: 0px;
}
.continental {
    width: 77px;
    height: 21px;
    background-position: -5px -79px;
    margin-left: 13px;
    margin-top: 6px;
}
.cooper {
    width: 59px;
    height: 21px;
    background-position: -5px -110px;
    margin-left: 15px;
    margin-top: 5px;
}
.avon {
   width: 77px;
    height: 13px;
    background-position: -5px -5px;
    margin-left: 12px;
}
.factory {
    width: 57px;
    height: 27px;
    background-position: -5px -162px;
    margin-left: 13px;
    margin-top: 0px;
}
.firelli {
    width: 61px;
    height: 14px;
    background-position: -5px -201px;
    margin-left: 13px;
    margin-top: 2px;
}
.dunlop {
    width: 72px;
    height: 13px;
    background-position: -5px -141px;
    margin-left: 15px;
}




footer {
    height: 100px;
    background: #213a4d;
    text-align: center;
}
.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.footer-menu li {
    display: inline-block;
    padding: 0 10px;
    margin-top: 10px;
    border-left: 1px solid #bec6c9;
}
.footer-menu li:first-child {
    border-left: none;
}
.footer-menu li a {
    color: #bec6c9;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;
}
.footer-menu li a:hover {
    color: #52abcb;
}
footer p {
    color: #7f4740;
    font-family: Arial, sans-serif;
    font-size: 10px;
    padding: 5px;
}


.select-auto input[type="submit"], 
.select-tire input[type="submit"], 
.select-disc input[type="submit"] {
    position: absolute;
    right: 13px;
    bottom: 1px;
}

