/*****************************/
/* line 7, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px; }

/* line 14, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.col-xs-1-5 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  /* line 20, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .col-sm-1-5 {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  /* line 27, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .col-md-1-5 {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  /* line 34, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .col-lg-1-5 {
    width: 20%;
    float: left; } }

/* line 43, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.col-xs-2-5,
.col-sm-2-5,
.col-md-2-5,
.col-lg-2-5 {
  position: relative;
  min-height: 1px; }

/* line 50, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.col-xs-2-5 {
  width: 40%;
  float: left; }

@media (min-width: 768px) {
  /* line 56, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .col-sm-2-5 {
    width: 40%;
    float: left; } }

@media (min-width: 992px) {
  /* line 63, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .col-md-2-5 {
    width: 40%;
    float: left; } }

@media (min-width: 1200px) {
  /* line 70, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .col-lg-2-5 {
    width: 40%;
    float: left; } }

/*****************************/
/*HEADER*/
/* line 78, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
header {
  background: url("../img/header-bg.jpg") center center no-repeat;
  height: 500px;
  padding-top: 25px;
  background-size: cover; }
  /* line 84, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  header a {
    display: block; }
  /* line 87, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  header img {
    margin: 0 auto; }

/*HEADER end*/
/*ABOUT*/
/* line 95, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.about-first {
  background: url("../img/about-bg.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center; }
  /* line 102, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .about-first h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #010101;
    font-weight: bold;
    max-width: 300px;
    border: 10px solid #010101;
    padding: 25px;
    margin: 0 auto; }

/* line 115, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.about-second {
  background: url("../img/about-logo.png") center 100px no-repeat;
  height: 500px;
  padding: 180px 80px; }

@media only screen and (max-width: 480px) {
  /* line 123, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .about-second {
    padding: 180px 20px; } }

/* line 128, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.about-gallery .col-sm-2 {
  padding: 0; }

/* line 131, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.about-gallery__hover {
  display: none;
  padding-top: 45%;
  font-size: 20px; }

/* line 136, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.about-search {
  margin-bottom: 10%; }

/* line 139, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.about-link .fa {
  margin-right: 15%; }

/* line 142, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.about-link .fa:last-child {
  margin-right: 0; }

/* line 146, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.about-gallery .col-sm-2:hover,
.gallery .col-sm-1-5:hover {
  cursor: pointer;
  position: relative; }
  /* line 150, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .about-gallery .col-sm-2:hover .about-gallery__hover,
  .about-gallery .col-sm-2:hover .gallery__hover,
  .gallery .col-sm-1-5:hover .about-gallery__hover,
  .gallery .col-sm-1-5:hover .gallery__hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(213, 217, 198, 0.8); }

/* line 160, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.about-gallery__item img {
  width: 100%; }

/*ABOUT end*/
/*PARALLAX-1*/
/* line 166, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.parallax {
  height: 350px;
  background: url("../img/parallax1.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 24px;
  color: #f2efe5; }
  /* line 174, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .parallax cite {
    font-size: 24px;
    color: #f2efe5; }
  /* line 179, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .parallax .quote {
    line-height: 80px; }

@media only screen and (max-width: 480px) {
  /* line 185, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .parallax {
    height: 450px; } }

/*PARALLAX-1 end*/
/*TEAM*/
/* line 192, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team .col-md-4 {
  padding: 0; }

/* line 195, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team .row {
  background: #ccc8b6; }

/* line 198, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team-first {
  position: relative; }
  /* line 200, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .team-first h2 {
    position: absolute;
    width: 50%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 106px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #010101;
    font-weight: bold;
    border: 10px solid #010101;
    padding: 25px; }

/* line 220, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team h3 {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

/* line 227, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team img {
  width: 100%; }

/* line 231, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team .team-text {
  padding: 20px; }

/* line 235, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team-social {
  margin-top: 20%; }

/* line 238, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team-social a {
  display: inline-block;
  margin-right: 5%;
  font-size: 30px;
  color: #000; }

/* line 244, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team-social a:hover {
  color: #3ac9e8; }

/* line 248, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.team-social a:last-child {
  margin-right: 0; }

@media only screen and (max-width: 1100px) {
  /* line 254, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .team-social {
    margin-top: 0; }
  /* line 257, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .team .team-text {
    padding-bottom: 10px; } }

@media only screen and (max-width: 990px) {
  /* line 263, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .team .team-text {
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  /* line 269, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .team-social {
    margin-top: 10%; } }

@media only screen and (max-width: 540px) {
  /* line 276, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .team .team-text {
    height: 100vw; }
  /* line 280, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .team-social {
    margin-top: 0; }
  /* line 283, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .team h2 {
    padding-left: 10px;
    padding-right: 10px; } }

/* line 290, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.form-container {
  position: relative; }
  /* line 294, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .form-container input {
    width: 300px;
    border: 1px solid #000;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
    outline: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold; }
  /* line 305, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .form-container input[type="submit"] {
    background: #9a977a;
    border: none;
    color: #fff; }
  /* line 311, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .form-container .form-content {
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 50%;
    right: 0;
    margin: 0 auto;
    width: 300px;
    text-transform: uppercase; }
    /* line 320, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
    .form-container .form-content p:first-child {
      font-weight: bold; }

/*TEAM*/
/*PARALLAX-2*/
/* line 328, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.parallax2 {
  height: 350px;
  background: url("../img/parallax2.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 24px;
  color: #f2efe5; }
  /* line 336, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .parallax2 .fa {
    font-size: 40px;
    line-height: 150px;
    color: #fff; }
  /* line 341, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .parallax2 p {
    font-size: 22px;
    color: #fff; }

@media only screen and (max-width: 480px) {
  /* line 348, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .parallax2 {
    height: 450px; } }

/*PARALLAX-2 end*/
/*GALLERY*/
/* line 355, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.gallery .row {
  background: #ccc8b6; }

/* line 358, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.gallery-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19vw; }
  /* line 361, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .gallery-first h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #010101;
    font-weight: bold;
    max-width: 300px;
    margin: 0 auto;
    border: 10px solid #010101;
    padding: 25px; }

@media only screen and (max-width: 768px) {
  /* line 376, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .gallery-first {
    height: 70vw; } }

/*GALLERY end*/
/*CONTACT US*/
/* line 383, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.contact-first {
  padding-top: 100px;
  padding-bottom: 30px; }
  /* line 386, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .contact-first h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #010101;
    font-weight: bold;
    max-width: 320px;
    margin: 0 auto;
    border: 10px solid #010101;
    padding: 25px 20px; }
  /* line 399, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .contact-first .contact-center {
    margin-top: 50px;
    margin-bottom: 50px; }
  /* line 404, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .contact-first h4,
  .contact-first span {
    text-transform: uppercase; }
  /* line 407, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .contact-first .team-social {
    margin-top: 50px; }

/* line 413, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.contact-second {
  padding-top: 100px;
  padding-bottom: 30px; }
  /* line 418, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .contact-second input,
  .contact-second textarea {
    width: 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000;
    margin-bottom: 50px;
    outline: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold; }
  /* line 430, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .contact-second input {
    line-height: 40px; }
  /* line 433, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .contact-second input[type="submit"] {
    background: #9a977a;
    border: none;
    color: #fff; }

@media only screen and (max-width: 990px) {
  /* line 441, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .contact-info .col-md-6 {
    text-align: center;
    margin-bottom: 30px; } }

@media only screen and (max-width: 480px) {
  /* line 447, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  .contact-first h2 {
    padding-left: 10px;
    padding-right: 10px; } }

/*CONTACT US end*/
/*MAP*/
/* line 455, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
.map {
  height: 800px;
  background: url("../img/map.jpg") center center no-repeat;
  background-size: cover; }

/*MAP end*/
/*FOOTER*/
/* line 463, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #aeaeae; }
  /* line 467, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  footer a {
    display: block; }
  /* line 470, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  footer img {
    margin: 0 auto; }
  /* line 473, D:/dz/tamtamlg.github.io/inktattoo/css/style.scss */
  footer p {
    margin-top: 40px; }

/*FOOTER end*/

/*# sourceMappingURL=style.css.map */