@import "variables.scss";

/*****************************/
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px;
//  padding-right: 10px;
//  padding-left: 10px;
}
 
.col-xs-1-5 {
  width: 20%;
  float: left;
}
 
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
 
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
 
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

.col-xs-2-5,
.col-sm-2-5,
.col-md-2-5,
.col-lg-2-5 {
  position: relative;
  min-height: 1px;
//  padding-right: 10px;
//  padding-left: 10px;
}
 
.col-xs-2-5 {
  width: 40%;
  float: left;
}
 
@media (min-width: 768px) {
  .col-sm-2-5 {
    width: 40%;
    float: left;
  }
}
 
@media (min-width: 992px) {
  .col-md-2-5 {
    width: 40%;
    float: left;
  }
}
 
@media (min-width: 1200px) {
  .col-lg-2-5 {
    width: 40%;
    float: left;
  }
}
/*****************************/

/*HEADER*/
header {
  background: url('../img/header-bg.jpg') center center no-repeat;
  height: 500px;
  padding-top: 25px;
}

/*HEADER end*/


/*ABOUT*/
.about-first {
  background: url('../img/about-bg.jpg') center center no-repeat;
  height: 500px;
  padding-top: 205px;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #010101;
    font-weight: bold;
    max-width: 300px;
    margin: 0 auto;
    border: 10px solid #010101;
    padding: 25px;
  }
}
.about-second {
  background: url('../img/about-logo.png') center 100px no-repeat;
  height: 500px;
  padding: 180px 80px;
}

.about-gallery .col-sm-2 {
  padding: 0;
}
.about-gallery__hover {
  display: none;
  padding-top: 45%;
  font-size: 20px;
}
.about-search {
  margin-bottom: 10%;
}
.about-link .fa {
  margin-right: 15%;
}
.about-link .fa:last-child {
  margin-right: 0;
}
.about-gallery .col-sm-2:hover,
.gallery .col-sm-1-5:hover {
  cursor: pointer;
  position: relative;
  .about-gallery__hover,
  .gallery__hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(213,217,198,.8);
  }
}
.about-gallery__item img{
  width: 100%;
}
/*ABOUT end*/



/*PARALLAX*/
.parallax {
  height: 350px;
  background: url('../img/parallax1.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 24px;
  color: #f2efe5;
  
  cite {
    font-size: 24px;
    color: #f2efe5;
  }
  
  .quote {
    line-height: 80px;
  }
}


/*TEAM*/
.team .col-md-4 {
  padding: 0;
}
.team .row {
  background: #ccc8b6;
}
.team-first {
  position: relative;
  h2 {
    position: absolute;
    width: 50%;
    margin: auto;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height: 106px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #010101;
    font-weight: bold;
    border: 10px solid #010101;
    padding: 25px;
  }
}

.team h3 {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.team img {
  width: 100%;
}

.team .team-text {
  padding: 20px;
  
}

.team-social {
  margin-top: 30%;
}
.team-social a {
  display: inline-block;
  margin-right: 5%;
  font-size: 30px;
  color: #000;
}
.team-social a:last-child {
  margin-right: 0;
}

.form-container {
  position: relative;
  
  
  input {
    width: 300px;
    border: 1px solid #000;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
    outline: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
  }
  input[type="submit"] {
    background: #9a977a;
    border: none;
    color: #fff;
  }
  
  .form-content {
	position:  absolute;
	top: 20%;
	left: 0;
	bottom: 50%;
	right: 0;
    margin: 0 auto;
    width: 300px;
  }
}


.parallax2 {
  height: 350px;
  background: url('../img/parallax2.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 24px;
  color: #f2efe5;
  
  .fa {
    font-size: 40px;
    line-height: 150px;
    color: #fff;
  }
  p {
    font-size: 22px;
    color: #fff;
  }
}

.gallery .row {
  background: #ccc8b6;
}
.gallery-first {
  padding-top: 6%;
  padding-bottom: 5%;
  cursor: default;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #010101;
    font-weight: bold;
    max-width: 300px;
    margin: 0 auto;
    border: 10px solid #010101;
    padding: 25px;
  }
}

