<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>js23</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="js/template.js"></script>
  <script src="js/main.js"></script>
</head>
<body>
  
  <script type="text/template" id="wrapper-template">
    <div class="wrapper">
      <ul class="item-list"></ul>
      <div class="controlls">
        <input type="text" class="item-value" name="" id="">
        <button class="item-add">Add</button>
      </div>
    </div>
  </script>
  
  <script type="text/template" id="list-template">
    <% for (var i = 0; i < data.length; i++) { %>
      <li><span class="item-edit"><%= data[i] %></span> <span data-value="<%= data[i] %>" class="item-delete">&#9754;</span></li>
    <% }; %>
  </script>
  
</body>
</html>