

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue';
    font-size: 14px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.header {
    background: url(../img/pattern.png);
    width: 1215px;
    margin: 0 auto;
}
.navigation {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0px;
}
.navigation li {
    display: inline-block;
    
}
.navigation li a {
    display: block;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    padding: 10px 15px;
    color: #60b5ed;
    text-decoration: none;
}
.navigation .active a{
    background: #4eabda;
    color: #fff;
    font-weight: 700;
}
.navigation li a:hover {
    background: #4eabda;
    color: #fff;
}
.btn {
    display: block;
    padding: 9px 14px;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to top, #2a7ab5, #51b1dc);
    border: 1px solid #51b1dc;
    border-radius: 3px;
    font-weight: 700;
}
.entrance {
    float: right;
    margin-right: 20px;
}
.flag {
    float: right;
    position: relative;
    font-size: 0;
}

.flag a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-weight: 700;
}
.flag img {
    position: absolute;
    top: 5px;
    left: 30px;
}
.flag a:before {
    content: "";
    height: 31px;
    border-left: 1px solid #60b5ed;
    margin-right: 50px;
}
.content {
    position: relative;
    margin: 0 auto;
    background: url(../img/background.png) no-repeat;
    width: 1215px;
    height: 1028px;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 560px;
    height: 615px;
}
.heading {
    width: 560px;
    height: 65px;
    background: rgba(0,0,0,.5);
    font-size: 24px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    margin-bottom: 2px;
}
.facebook {
    display: block;
    position: relative;
    padding: 9px 55px 10px 70px;
    margin: 0 auto;
    width: 151px;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to top, #314174, #3e5692);
    border-top: 1px solid #7787b8;
    border-radius: 3px;
    font-weight: 700;
    
}
.facebook img {
    position: absolute;
    top: 6px;
    left: 17px;
}
.facebook:before {
    content: "";
    height: 36px;
    border-left: 1px solid #1f3c76;
    border-right: 1px solid #4d65a3;
    position: absolute;
    top: -1px;
    left: 45px;
}
.with {
    font-weight: normal;
}
.entrance span {
    text-decoration: underline;
}
.form {
    padding-top: 35px;
    width: 560px;
    height: 513px;
    background: rgba(0,0,0,.5);
    text-align: center;
}
.ou {
    margin-top: 28px;
    margin-bottom: 28px;
}
.ou span {
    text-transform: uppercase;
    color: #999;
    position: relative;
}
.ou span:after {
    content: "";
    position: absolute;
    width: 117px;
    top: 8px;
    left: 30px;
    display: block;
    border-bottom: 1px solid #666;
    box-shadow: 0 1px 0 0 #000;
}
.ou span:before {
    content: "";
    position: absolute;
    width: 116px;
    top: 8px;
    left: -127px;
    display: block;
    border-bottom: 1px solid #666;
    box-shadow: 0 1px 0 0 #000;
}
input[type="text"], 
input[type="email"],
input[type="password"]{
    display: block;
    margin: 18px auto;
    padding: 8px 20px;
    width: 236px;
    color: #fff;
    background: #0f0f0f;
    border: none;
    border-bottom: 1px solid #484948;
    font-weight: 700;
    position: relative;
}

input[type="text"]:focus, 
input[type="email"]:focus,
input[type="password"]:focus {
    background: #1b5288;
    color: #fff;
    border: none;
    border-bottom: 1px solid #689bcc;
    
    box-shadow: 0 0 5px 3px #416f8f;
    border-radius: 3px;
}

.heading span {
    font-weight: 700;
}
form span {
    color: #ccc;
    display: inline-block;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-weight: 700;
}
input[type="submit"] {
    display: block;
    margin: 15px auto;
    padding: 10px 15px;
    color: #fff;
    background: linear-gradient(to top, #2a7ab5, #51b1dc);
    border: 1px solid #51b1dc;
    border-radius: 3px;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-weight: 700;
}
.checkbox {
    margin: 0 auto;
    width: 276px;
    text-align: left;
    vertical-align: top;
}
input[type="checkbox"] {
    width: 14px;
    vertical-align: middle;
}
.form p {
    font-size: 11px;
    color: #ccc;
}
::-webkit-input-placeholder {color:#ccc;}
::-moz-placeholder          {color:#ccc;}/* Firefox 19+ */
:-moz-placeholder           {color:#ccc;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ccc;}