body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 30px;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
header {
  margin-bottom: 50px;
  padding-top: 40px;
  height: 895px;
  background: url('../img/header-bg.jpg') center center no-repeat;
  background-size: cover;
  
  p a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #f84545;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 20px;
  }
}

.logo {
  display: block;
  float: left;
  padding: 33px 0px 33px 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  color: #7e7e7c;
  letter-spacing: 30px;
  font-weight: bold;
}
.top-menu {
  float: right;
  list-style: none;
  padding: 0;
  padding-top: 20px;
  font-size: 0;
  text-align: center;
  
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 10px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #f84545;
    }
    
  }
  
  .active a {
    color: #f84545;
  }
}

h1 {
  margin-top: 250px;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  font-weight: 300;
  letter-spacing: 35px;
}
.angle-down {
  margin-top: 260px;
  text-align: center;
  
  a {
    color: #fff;
    font-size: 100px;
    font-weight: 300;
    text-decoration: none;
  }
}


.img1 {
  position: relative;
  background: url('../img/img1.jpg') center center no-repeat;
  background-size: cover;
  height: 776px;
}
.img2 {
  position: relative;
  margin-bottom: 56px;
  background: url('../img/img2.jpg') center center no-repeat;
  background-size: cover;
  height: 360px;
}
.img3 {
  position: relative;
  background: url('../img/img3.jpg') center center no-repeat;
  background-size: cover;
  height: 360px;
}
.img4 {
  position: relative;
  background: url('../img/img4.jpg') center center no-repeat;
  background-size: cover;
  height: 580px;
}
.img5 {
  position: relative;
  background: url('../img/img5.jpg') center center no-repeat;
  background-size: cover;
  height: 580px;
}
.img6 {
  position: relative;
  background: url('../img/img6.jpg') center center no-repeat;
  background-size: cover;
  height: 580px;
}
.row1,
.row2 {
  margin-bottom: 30px;
}

.instagram {
  position: relative;
  
  h2 {
    margin-bottom: 10px;
    height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 25% auto;
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 25px;
    z-index: 2;
  }
  a {
    display: inline-block;
    height: 70px;
    width: 380px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 35% auto;
    color: #f84545;
    font-size: 30px;
    line-height: 70px;
    font-weight: 700;
    letter-spacing: 10px;
    text-decoration: none;
    z-index: 2;
  }
}
.img-groupe1 {
  background: url('../img/img-groupe1.jpg') center center no-repeat;
  background-size: cover;
  height: 425px;
}
.img-groupe2 {
  background: url('../img/img-groupe2.jpg') center center no-repeat;
  background-size: cover;
  height: 425px;
}
.img-groupe3 {
  background: url('../img/img-groupe3.jpg') center center no-repeat;
  background-size: cover;
  height: 425px;
}
.img-groupe4 {
  background: url('../img/img-groupe4.jpg') center center no-repeat;
  background-size: cover;
  height: 425px;
}
.img-groupe5 {
  background: url('../img/img-groupe5.jpg') center center no-repeat;
  background-size: cover;
  height: 425px;
}
.img-groupe6 {
  background: url('../img/img-groupe6.jpg') center center no-repeat;
  background-size: cover;
  height: 425px;
}
.img-groupe7 {
  background: url('../img/img-groupe7.jpg') center center no-repeat;
  background-size: cover;
  height: 425px;
}
.img-groupe8 {
  background: url('../img/img-groupe8.jpg') center center no-repeat;
  background-size: cover;
  height: 425px;
}
main h3 {
  
  margin: 0;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 10px;
  
}
.wrap {
  position: absolute;
  bottom: 10px;
  left: 20px;
}


footer {
  padding: 20px;
}
.bottom-menu {
  text-align: center;
  li {
    display: inline-block;
    &:last-child a {
      padding-right: 25px;
    }
  }
  a {
    display: block;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    &:hover {
      color: #f84545;
    }
    
  }
}
.social {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  
  a {
    display: inline-block;
    padding: 10px;
    color: #1a1a1a;
     &:hover {
      color: #f84545;
    }
  }
}


@media only screen and (max-width : 1150px) {
  .instagram {
    h2 {
      letter-spacing: 10px;
    }
    
  }
}

@media only screen and (max-width : 992px) {
  h1 {
    margin-top: 150px;
    letter-spacing: 30px;
  }
  .img1 {
    margin-bottom: 30px;
  }
  .img2 {
    margin-bottom: 30px;
  }
  .img4 {
    margin-bottom: 30px;
  }
  .img5 {
    margin-bottom: 30px;
  }
  
  .instagram {
    h2 {
      letter-spacing: 5px;
      font-size: 50px;
    }
  }
}

@media only screen and (max-width : 740px) {
  h1 {
    font-size: 40px
  }
  header p a {
    font-size: 18px;
    letter-spacing: 18px;
  }
  .instagram {
    h2 {
      letter-spacing: 5px;
      font-size: 40px;
    }
    a {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width : 620px) {
  h1 {
    font-size: 30px;
    letter-spacing: 25px;
      
  }
  header p a {
    font-size: 14px;
    letter-spacing: 14px;
  }
  .instagram {
    h2 {
      letter-spacing: 5px;
      font-size: 36px;
    }
    a {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width : 560px) {
  h1 {
    
    margin-top: 60px;
    letter-spacing: 10px;
  }
  header p a {
    
    letter-spacing: 8px;
  }
  .instagram {
    h2 {
      letter-spacing: 5px;
      font-size: 30px;
    }
    a {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width : 480px) {
  h1 {
    font-size: 20px;
    margin-top: 50px;
  }
  .instagram {
    h2 {
      height: 150px;
      margin: 20% auto;
    }
    a {
      width: 250px;
      margin: 60% auto;
    }
  }
}



