<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initialscale=1.0, maximum-scale=1">
  <title>final</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!--  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>-->
 <script src="js/template.js"></script>
  <script src="js/masonry.pkgd.min.js"></script>
  <script src="js/masonry.js"></script>
  <script src="js/request.js"></script>
</head>
<body>
<div class="wrapper">
<!-- HEADER -->
  <header>
    <div class="container">
      <div class="menu">
        <a href="#" class="login">Log in</a>
        <a href="#" class="btn-invers">Sign up</a>
      </div>
      <div class="logo"><a href="#">URLAUBSGLÜCK</a></div>
      <h1>Share your <br> holiday dreams</h1>
      <p>And find the perfect partner to fullfill it</p>
      <a href="#" class="btn">Find your holiday partner</a>
    </div>
  </header>
<!-- HEADER end -->  

<!-- HOW-WORKS -->
  
  <section class="how-works">
    <div class="container">
      <h2>How Urlaubsglück works?</h2>

      <article class="how-works__item step-1">
        <a href="#" class="btn">Step 1</a>
        <h2>Sed leo enim, condimentum</h2>
        <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
      </article>

      <article class="how-works__item step-2">
        <a href="#" class="btn">Step 2</a>
        <h2>Sed leo enim, condimentum</h2>
        <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
      </article>

      <article class="how-works__item step-3">
        <a href="#" class="btn">Step 3</a>
        <h2>Sed leo enim, condimentum</h2>
        <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
      </article>
    </div>
  </section>
<!-- HOW-WORKS end-->

<!-- PARTNERS -->
  <section class="partners">
    <div class="container">
      <h2>Meet a partner for your best holiday</h2>

      <article class="partners__item item-1">
        <a href="#" class=""></a>
        <h3>Bradley Hunter</h3>
        <p>Based in Chicago. I love playing tennis and loud music.</p>
      </article>

      <article class="partners__item item-2">
        <a href="#" class=""></a>
        <h3>Lucas Marsha</h3>
        <p>I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
      </article>

      <article class="partners__item item-3">
        <a href="#" class=""></a>
        <h3>Heather Walker</h3>
        <p>I'm a happy person that loves cats and climbing on mountains.</p>
      </article>

      <article class="partners__item item-4">
        <a href="#" class=""></a>
        <h3>Bradley Hunter</h3>
        <p>Based in Chicago. I love playing tennis and loud music.</p>
      </article>

      <a href="#" class="btn-invers--red">See other partners</a>
    </div>
  </section>
<!-- PARTNERS end -->

<!-- IDEAS -->
  <section class="ideas">
    <div class="container">
      <h2>Discover holiday activity ideas</h2>
      
      <!-- masonry -->
      <div class="grid">
        <script id="test" type="text/template">

          <% for (var i=0; i<7; i++) { %>
          <div class="grid-item">
            <img src="<%= hits[i].previewURL%>">
            <h3 class="title"><%= hits[i].tags %></h3>
          </div>
          
          <%}%>

        </script>
      </div>
      <!-- masonry end -->
    
    </div>
  </section>
<!-- IDEAS end -->


<!-- SEARCH -->
  <section class="search">
    <div class="container">
      <h2>Discover holiday activity ideas</h2>
      <p>Hi! What are your holiday interests?</p>
      <input type="text" name="" id="enterYourInterests" placeholder="Enter your interests">
      <a href="#" class="btn" id="searchPartners">Search partners</a>
    </div>
  </section>
<!-- SEARCH -->

<!-- FOOTER -->
  <footer>
    <div class="container">
      <div class="logo--red"><a href="#">URLAUBSGLÜCK</a></div>
      <h4>Company</h4>
      <ul class="footer-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
      <h4>Partners</h4>
      <div class="design">
        <span>Designed by</span>
        <a href="#"></a>
      </div>
    </div>
  </footer>
<!-- FOOTER end -->
</div>
</body>
</html>
