@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html,
body {
  
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
  padding-top: 70px;
  position: relative;
  width: 100%;
  background: url(../img/background-top.png) no-repeat  center top;
  height: 776px;
  margin-bottom: 0;
}
.logo {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 37px;
  font-family: 'LeagueGothic';
  font-size: 48px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.main-nav {
  float: right;
  
}
.main-nav__list {
  padding: 0;
  
  
  list-style: none;
  font-size: 0;
}
.main-nav__list li {
  display: inline-block;
  margin-left: 52px;
  
}
.main-nav__list a {
  display: block;
  padding: 5px 0px;
  
  font-family: 'LeagueGothic';
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.main-nav__list li:nth-child(1) {
  margin-left: 0px;
}

.main-nav__active-item span{
  position: relative;
}
.main-nav__active-item span:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -7px;
  right: -7px;
  height: 2px;
  background:  #edbfff; 
}
.main-nav__list a:hover {
  position: relative;
}
.main-nav__list a:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -7px;
  right: -7px;
  height: 2px;
  background:  #edbfff; 
}
.slider {
  position: relative;
  margin-top: 115px;
}
.slider__bg {
  width: 100%;
  height: 400px;
  background: url(../img/slider-bg.png) no-repeat  center top;
  position: absolute;
  top: 278px;

}
.slide1 {
  z-index: 1;
  position: relative;
}
.slider:before {
  content: "";
  position: absolute;
  background-image: url(../img/spritesheet.png);
  top: 197px;
  left: -319px;
  width: 30px;
  height: 42px;
  background-position: -5px -126px;
}
.slider:after {
  content: "";
  position: absolute;
  background-image: url(../img/spritesheet.png);
  top: 197px;
  left: 1254px;
  width: 30px;
  height: 42px;
  background-position: -5px -753px;
}
.slide__article {
  float: left;
  max-width: 52%;
  margin-left: 2px;
  margin-top: 74px;
  margin-right: 11%;
  margin-bottom: 0px;
}
.slide__article h1 {
  margin-bottom: 0;
  font-family: 'LeagueGothic';
  font-size: 58px;
  color: #fff;
  font-weight: 300;
}
.slide__article h2 {
  font-family: 'LeagueGothic';
  color: #fff;
  font-size: 32px;
  line-height: 34px;
  font-weight: 300;
  margin-top: 17px;
  margin-left: -2px;
  margin-bottom: 0;
  color: #edbfff;
}
.slide__article p {
  margin-top: 5px;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 1px #000;
}
.slider__img {
  width: 271px;
  margin-left: 64.1%;
  margin-bottom: 69px;
  position: relative;
}
.slider__btn {
  position: absolute;
  bottom: 209px;
  left: 138px;
  z-index: 10;
  cursor: pointer;
}
.slider__control {
  font-size: 0;
  width: 120px;
  margin-left: 74%;
  clear: both;
}
.slider__control i {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  cursor: pointer;
}
.slider__control__active-item:after {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
}
.features {
  margin: 0 auto;
  max-width: 2400px;
  padding: 80px 0 0 0;
  height: 260px;
  background: #50385a;
  background: linear-gradient(to top, #322539, #745083);
}
.features__item {
  display: inline-block;
  padding-left: 6.7%;
  width: 23.4%;
  margin-right: 4.8%;
  color: #fff;
  position: relative;
}
.features__item:last-child {
  margin-right: 0;
  padding-left: 5.5%;
}
.features__item h2 {
  margin: 0;
  font-family: 'LeagueGothic';
  font-size: 30px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000;
}
.features__item p {
  
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 120px;
  overflow: hidden;
  text-shadow: 1px 1px 1px #000;
  word-wrap: break-word;
  margin-top: 12px;
  margin-bottom: 15px;
}
.features__item a {
  position: absolute;
  width: 56px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'LeagueGothic';
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  left: 78%;
  top: 171px;
}
.features__item a:hover {
  text-shadow: 0 0 20px #d5d2d7;
}
.features__item:nth-child(1),
.features__item:nth-child(2),
.features__item:nth-child(3) {
  position: relative;
}
.features__item:nth-child(1):before {
  content: "";
  position: absolute;
  top: 4px;
  left: 10px;
  background-image: url(../img/spritesheet.png);
  width: 30px;
  height: 31px;
  background-position: -5px -5px;
}
.features__item:nth-child(2):before {
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  background-image: url(../img/spritesheet.png);
  width: 33px;
  height: 29px;
  background-position: -5px -46px;
}
.features__item:nth-child(3):before {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  background-image: url(../img/spritesheet.png);
  width: 29px;
  height: 31px;
  background-position: -5px -85px;
}
.blog {
  margin: 0 auto;
  max-width: 2361px;
  background: #f9f9f9;
  padding-top: 100px;
  padding-left: 4%;
  margin-bottom: 60px;
}
.slide2 {
  position: relative;
  float: left;
  width: 49%;
}
.slide__article--2 {
  position: relative;
  padding-left:  40px;
  padding-right: 3.1%;
  padding-top: 34px;
  width: 83%;
  height: 240px;
  margin-bottom: 24px;
  background: #fff;
  
}
.slide__article--2:after {
  position: absolute;
  bottom: -20px;
  right: 40px;
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  
}
.slide__article--2 h2 {
  margin: 0;
  font-family: 'LeagueGothic';
  font-size: 30px;
  text-transform: uppercase;
  color: #454545;
  
}
.slide__article--2 p {
  max-height: 190px;
  overflow: hidden;
}
.slider__img--2 {
  position: absolute;
  top: 20px;
  left: -20px;
}
.slide__article--2 span {
  color: #edbfff;
}
.slider__control--2 {
  font-size: 0;
  width: 120px;
  margin-left: 36.5%;
  margin-top: 0px;
}
.slider__control--2 i {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.slider__control__active-item--2:after {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
}
.update {
  float: right;
  padding-top: 35px;
  margin-right: 3.3%;
  width: 45.5%;
  
  
}
.update h2 {
  margin: 0 0 20px 0;
  font-family: 'LeagueGothic';
  font-size: 30px;
  text-transform: uppercase;
  color: #454545;
  white-space: nowrap;
}
.update__list {
  position: relative;
  list-style: none;
  padding: 0 0 0 65px;
  margin-bottom: 22px;
}
.update__list__item {
  margin-bottom: 16px;
}
.update__list h3 {
  margin: 0;
  letter-spacing: -0.4px;
  word-spacing: -1px;
  color: #454545;
  white-space: nowrap;
}
.update__list p {
  margin: 0;
  color: #454545;
  min-width: 260px;
  white-space: nowrap;
  overflow: hidden;
}
.update__list__item:nth-child(1):before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  background-image: url(../img/spritesheet.png);
  width: 49px;
  height: 49px;
  background-position: -5px -576px;
}
.update__list__item:nth-child(2):before {
  content: "";
  position: absolute;
  top: 65px;
  left: 0px;
  background-image: url(../img/spritesheet.png);
  width: 49px;
  height: 49px;
  background-position: -5px -635px;
}
.update__list__item:nth-child(3):before {
  content: "";
  position: absolute;
  top: 127px;
  left: 0px;
  background-image: url(../img/spritesheet.png);
  width: 49px;
  height: 49px;
  background-position: -5px -694px;
}
.update a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'LeagueGothic';
  font-size: 18px;
  font-weight: 300;
  color: #454545;
  margin-left: 79%;
  width: 70px;
  white-space: nowrap;
}
.partners {
  margin: 0 auto;
  max-width: 2400px;
  
  padding-top: 25px;
  padding-bottom: 31px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  
}
.partners__item {
  display: inline-block;
  font-size: 0;
  background: url(../img/spritesheet.png);
  vertical-align: middle;
}
.logos1 {
  width: 69px;
  height: 64px;
  background-position: -5px -178px;
  margin-left: 9.8%;
}
.logos2 {
  width: 72px;
  height: 64px;
  background-position: -5px -252px;
  margin-left: 6.4%;
}
.logos3 {
  width: 65px;
  height: 65px;
  background-position: -5px -326px;
  margin-left: 6.2%;
}
.logos4 {
  width: 50px;
  height: 63px;
  background-position: -5px -401px;
  margin-left: 7.4%;
}
.logos5 {
  width: 103px;
  height: 21px;
  background-position: -5px -474px;
  margin-left: 6.4%;
}
.logos6 {
  width: 78px;
  height: 61px;
  background-position: -5px -505px;
  margin-left: 6.4%;
}

.news {
  margin: 0 auto;
  max-width: 2400px;
  padding-bottom: 85px;
  padding-top: 75px;
  background: #ececec;
}
.features__item--news {
  display: inline-block;
  padding-left: 0px;
  width: 29%;
  height: 215px;
  margin-right: 5.5%;
  vertical-align: top;
  padding-top: 22px;
  overflow: hidden;
}
.features__item--news:last-child {
  margin-right: 0;
  padding-left: 0px;
  
}
.features__item--news h2 {
  margin: 0;
  font-family: 'LeagueGothic';
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #454545;
}

.features__item--news:first-child h2 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1px;
}
.features__item--news h2 span {
  color: #b9b9b9;
}
.features__item--news p {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  overflow: hidden;
  word-wrap: break-word;
  margin-top: 11px;
  margin-bottom: 15px;
  color: #787878;
}
.copy {
  font-family: Georgia;
  font-style: italic;
  font-size: 16px;
  color: #c5c5c5;
  line-height: 24px;
}

.main-footer {
  padding-top: 38px;
  position: relative;
  
  background: url(../img/background-bottom.png) no-repeat  center bottom;
  height: 75px;
  margin-bottom: 0;
}
.main-nav__list--footer {
  padding: 0;
  margin-top: 0px;
  float: left;
  list-style: none;
  font-size: 0;
}
.main-nav__list--footer li {
  display: inline-block;
}
.main-nav__list--footer a {
  display: block;
  padding: 5px 0px;
  margin-left: 0px;
  margin-right: 43px;
  font-family: 'LeagueGothic';
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.main-nav__list--footer li:last-child a {
  margin-right: 0;
}
.main-nav__active-item--footer a{
  position: relative;
}
.main-footer__copy {
  float: right;
}
.main-footer__copy p {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
  letter-spacing: 0px;
  word-spacing: 0px;
}
.main-footer__copy span {
  font-weight: bold;
}

/****************** 860 *******************/

@media (max-width: 860px) {
  .logo {
    display: block;
  }
  .main-nav {
    float: left;
    margin-bottom: 0;
  }
  .slider {
    margin-top: 152px;
  }
  .slide__article h2 {
    font-size: 24px;
  }
  .features__item h2 {
    font-size: 24px;
  }
  .logos1 {
    margin-left: 9.8%;
  }
  .logos2 {
    margin-left: 5%;
  }
  .logos3 {
    margin-left: 5%;
  }
  .logos4 {
    margin-left: 6%;
  }
  .logos5 {
    margin-left: 5%;
  }
  .logos6 {
    margin-left: 4%;
  }
  
  
/****************** 768 *******************/



@media (max-width: 768px) {
  
  .container {
    width: 768px;
  }
  .logo {
    margin-bottom: 29px;
  }
  .main-nav {
  float: left;
  }
  .slider {
    margin-top: 112px;
  }
  .slider__bg {
    top: 244px;
  }
  .slider__img {
    margin-left: 55.7%;
    margin-bottom: 20px;
  }
  .slide__article {
    padding-left: 25px;
    width: 40%;
    margin-top: 101px;
  }
  .slide__article h1 {
  font-size: 48px;
  }
  .slide__article h2 {
    font-size: 24px;
  }
  .slide__article p {
    font-size: 16px;
    max-height: 100px;
    overflow-y: hidden;
  }
  .slider__control {
  margin-left: 68%;
  }
  .slider:before {
  left: -24px;
  }
  .slider:after {
    left: 722px;
  }
  .main-header {
    height: 730px;
  }
  .features {
    padding: 76px 0 0 0;
  }
  .features__item {
    padding-left: 6%;
  }
  .features__item p {
    margin-top: 4px;
  }
  .features__item a {
    left: 61%;
    top: 175px;
  }
  .slide2 {
    width: 42%
  }
  .slide__article--2 {
    width: 82%;
    padding-left: 10.5%;
    margin-right: 0;
  }
  .slide__article--2 h2 {
    font-size: 24px;
    max-width: 130px;
  }
  .slide__article--2 p {
    padding-right: 25px;
    height: 148px;
    overflow: hidden;
    margin-top: 10px;
  }
  .slider__img--2 {
    top: 23px;
    left: -30px;
}
  
  .slider__control--2 {
  margin-left: 34%;
  margin-top: 0px;
}
  .update {
    margin-right: 7%;
  }
  .update__list p {
    width: 260px;
  }
  .logos1 {
    margin-left: 0.5%;
  }
  .logos2 {
    margin-left: 6.5%;
  }
  .logos3 {
    margin-left: 6.4%;
  }
  .logos4 {
    margin-left: 8%;
  }
  .logos5 {
    margin-left: 7%;
  }
  .logos6 {
    margin-left: 6.5%;
  }
  .news {
    padding-bottom: 80px;
    padding-top: 82px;
  }
  .features__item--news h2 {
    font-size: 24px;
  }
  .features__item--news p {
    margin-top: 12px;
  }
  .main-footer {
    height: 175px;
  }
  .main-footer__copy {
    clear: left;
    margin-top: 12px;
    margin-right: 43px;
  }
}

/****************** 480 *******************/



  @media (max-width: 480px) {
    
    
  .container {
    width: 480px;
    
  }  
  .main-header {
    height: 478px;  
  }
  .logo {
    padding-left: 28.1%;
    margin: 0 auto;
    margin-bottom: 22px;
    
  }  
  .main-nav {
    position: absolute;
    left: 0;
    right: 0;
    float: none;
    width: 246px;
    margin: 0 auto;
    z-index: 10;
    background: rgba(63,50,71,.8);
    border-radius: 10px;
}
.main-nav__list li {
  display: block;
  margin: 0;
  text-align: center;
  border-top: 1px solid #675070;
  border-bottom: 1px solid #3e3146;
}  
.main-nav__list li:first-child a {
  border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  
}
.main-nav__list li:last-child a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-nav__list li:first-child {
  border-top: none;
}
.main-nav__list li:last-child {
  border-bottom: none;
}
.main-nav__list a:hover {
  background: rgba(43,35,50,.5);
}
.main-nav__list a:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 2px;
  background:  #edbfff; 
}    
.main-nav__list li:last-child a:hover:after{
  left: 10px;
  right: 10px;
}  
.main-nav__list a {
  padding: 9px 0px;     
}
.slider {
    margin-top: 84px;
  }
.slider__bg {
    top: 203px;
  height: 345px;
  }    
    
    
.slider__img {
    margin-left: 48%;
    margin-bottom: 0px;
  }
    .slider__img img {
      width: 70.5%;
    }
    .slider__btn {
  
  bottom: 47%;
  left: 34.5%;
  
}
  .slide__article {
    padding-left: 9px;
    width: 40%;
    margin-top: 86px;
    margin-right: 0;
  }
  .slide__article h1 {
  font-size: 36px;
    
  }
  .slide__article h2 {
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
    margin-top: 10px;
    letter-spacing: 0.5px;
  }
  .slide__article p {
    display: none
  }
  .slider__control {
  margin-left: 36%;
    margin-top: -30px;
  }
  .slider:before {
  left: -31px;
    top: 112px;
  }
  .slider:after {
    left: 423px;
    top: 112px;
  }    
    .features {
      height: 524px;
    }  
  .features__item {
    display: block;
    padding-left: 10%;
    width: 80%;
  }
    .features__item:last-child {
      padding-left: 10%;
    }
  .features__item a {
    left: 85.5%;
    top: 107px;
  }  
  .slide2 {
  float: none;
  width: 88%;
  
}  
  .slide__article--2 h2 {
  max-width: 300px;
  font-size: 30px;
  margin-bottom: 20px;
  
}  
.slide__article--2 {
    width: 85%;
    padding-left: 9%;
    margin-right: 0;
  
  }    
    .blog {
      padding-top: 65px;
    }    
  .slide__article--2 p {
    padding-right: 10px;
    height: 190px;
    overflow: hidden;
    margin-top: 10px;
  }  
  
  .slider__control--2 {
  margin-left: 37.5%;
  margin-top: 0px;
}  
.update {
  float: none;
padding-left: 37px;
  padding-top: 40px;
  width: 80%;
  
}    
  .update a {
  
  margin-left: 65%;
  
}  

    .blog {
      margin-bottom: 85px;
    }
    
    .partners {
      padding-top: 40px;
    }
.logos1 {
    margin-left: 11%;
  
  }
  .logos2 {
    margin-left: 11%;
  }
  .logos3 {
    margin-left: 10%;
    margin-right: 5%;
  }
  .logos4 {
    margin-left:8%;
    margin-top: 24px;
  }
  .logos5 {
    margin-left: 11%;
    margin-top: 24px;
  }
  .logos6 {
    margin-left: 11%;
    margin-top: 24px;
  }    
    .news {
      padding-top: 65px;
      padding-bottom: 60px;
    }
    .features__item--news {
      display: block;
      width: 91%;
      margin-right: 0;
    }  
    .main-nav__list--footer a {
      margin-right: 24px;
    }  
    
    .main-footer__copy  {
      float: none;
      text-align: center;
      
    }
    .main-nav__list--footer {
      margin-bottom: 23px;
    }

    
  }

/****************** 320 *******************/



  @media (max-width: 320px) {
    
    .container {
      width: 320px;
    }
    .logo {
      padding-left: 20%;
    }
    .slider__img {
      display: none;
    }
    
    .slider__bg {
    display: none;
  }    
    
    

  .slide__article {
    
    width: 40%;
    
  }
  .slide__article h1 {
  font-size: 36px;
   white-space: nowrap; 
  }
  .slide__article h2 {
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
    margin-top: 10px;
    letter-spacing: 0.5px;
  }
    .main-nav__list {
      display: none;
    }  
    .main-nav__active-item {
      display: block;
    }
    
    
    
    
    
    
    
    
    
  }













