@import "variables.scss";

.banner {
//  background-attachment: fixed;
//  height: 100vh;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

h1 {
  font-size: 5rem;
}

.slide1 {
  background: url('../img/bg1.jpg') center center no-repeat;
  background-size: cover;
}

.slide2 {
  background: #fff;
}

.slide3 {
  background: #f5f5f5;
  background: green;
}

.slide4 {
  background: #fff;
}

