body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #83969f;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

h2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 40px;
  font-weight: 300; }

/* HEADER */
.main-header {
  position: relative;
  height: 1238px;
  background: url("../img/header-bg.jpg") center top no-repeat;
  background-size: cover;
  margin-bottom: 470px; }

nav {
  padding-top: 55px;
  height: 200px;
  padding-left: 12%;
  margin-bottom: 170px;
  background: rgba(0, 0, 0, 0.7); }

.fa {
  font-size: 40px;
  color: #fff; }

.fa-bars {
  width: 100%;
  text-align: left;
  padding: 20px 30px;
  color: #f26522;
  font-size: 40px;
  line-height: 44px;
  cursor: pointer;
  display: none; }

.main-menu {
  z-index: 100;
  font-size: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }
  .main-menu li {
    list-style: none;
    display: inline-block; }
    .main-menu li a {
      display: block;
      margin-left: 25px;
      margin-right: 25px;
      color: #fff;
      font-size: 13px;
      line-height: 48px;
      text-transform: uppercase;
      letter-spacing: 1.5px; }
    .main-menu li a:hover,
    .main-menu li a:focus {
      color: #fff;
      text-decoration: none;
      position: relative; }
    .main-menu li a:after {
      content: '';
      position: absolute;
      bottom: 4px;
      height: 2px;
      left: 0px;
      width: 0%;
      background: #f26522;
      transition: width .3s ease-in-out; }
    .main-menu li a:hover:after,
    .main-menu li a:focus:after {
      width: 100%; }
  .main-menu .menu-aclive a {
    position: relative; }
  .main-menu .menu-aclive a:before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 0px;
    height: 2px;
    background: #f26522; }

.logo {
  float: right;
  margin-top: 40px;
  transform: rotate(90deg);
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  font-weight: bold; }
  .logo span {
    color: #f26522; }

.logo:hover,
.logo:focus {
  color: #fff;
  text-decoration: none; }

.head {
  position: relative; }

.header-bottom {
  position: absolute;
  bottom: 83px;
  right: 0;
  width: 92%; }

.orange-bg {
  height: 776px;
  background: #f26522;
  color: #fff;
  overflow: hidden;
  padding-top: 46px;
  padding-left: 3%;
  padding-right: 3%; }
  .orange-bg p {
    margin-bottom: 47px;
    margin-top: 24px;
    line-height: 23px; }

.header-bottom-img {
  background: url("../img/header-img1.jpg") center top no-repeat;
  background-size: cover;
  height: 388px; }

.header-bottom-text {
  height: 388px;
  padding-top: 58px;
  padding-left: 7%;
  padding-right: 12%;
  overflow: hidden; }
  .header-bottom-text p {
    margin-top: 14px;
    margin-bottom: 47px;
    line-height: 23px; }
  .header-bottom-text a {
    position: relative;
    margin-left: 30px;
    color: #d8d8d8;
    display: inline-block;
    border-bottom: 2px solid #f3f3f3; }
  .header-bottom-text a:hover,
  .header-bottom-text a:focus {
    text-decoration: none;
    color: #d8d8d8; }
  .header-bottom-text a:before {
    content: '';
    position: absolute;
    left: -35px;
    background: url("../img/tweett.png") no-repeat;
    width: 26px;
    height: 22px; }
  .header-bottom-text h2 {
    color: #3a4d69; }

.header-section {
  position: relative;
  padding-left: 12%;
  color: #fff; }
  .header-section p {
    font-size: 15px;
    color: #a8b2ba;
    margin-bottom: 25px; }
  .header-section h2 {
    font-size: 45px;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 35px; }

.control-bottom,
.control-right {
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 70px; }

.control-bottom {
  background: url("../img/bottom.svg");
  width: 50px;
  height: 50px;
  background-size: cover; }

.control-right {
  background: url("../img/right.svg");
  width: 52px;
  height: 52px;
  background-size: cover; }

.control {
  padding-left: 4%; }

/* HEADER end */
/* CONTENT */
.newspaper {
  padding-left: 12%;
  padding-right: 12%;
  margin-bottom: 80px; }
  .newspaper h2 {
    color: #3a4d69;
    margin-bottom: 23px;
    margin-top: 0; }
  .newspaper p {
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 26px; }
  .newspaper .leader {
    font-size: 18px;
    line-height: 27px;
    color: #b6b6b6; }

.column {
  column-count: 2;
  column-gap: 30px; }

.content-bg-img {
  height: 818px;
  background: url("../img/center-bg.jpg") center top no-repeat;
  background-size: cover; }

.content1-container {
  position: relative; }

.content1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 92%; }

.content-img1 {
  height: 459px;
  background: url("../img/girl.jpg") center top no-repeat;
  background-size: cover; }

.orange-bg-content {
  padding-left: 4%;
  height: 459px;
  background: #f26522;
  color: #fff; }
  .orange-bg-content h2 {
    font-size: 60px;
    line-height: 70px;
    margin-top: 110px; }

.newspaper2 {
  padding-left: 4%;
  padding-right: 12%;
  padding-top: 90px;
  padding-bottom: 90px;
  background: #f26522;
  color: #fff; }
  .newspaper2 p {
    margin-bottom: 35px; }

.content2 {
  float: right;
  width: 92%; }

.column2 {
  column-count: 2;
  column-gap: 80px; }

.form-container {
  padding-top: 36px;
  padding-left: 4%;
  float: right;
  width: 92%;
  color: #fff;
  background: #323339; }

.main-form {
  margin-top: 29px;
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 12px; }
  .main-form input[name="name"],
  .main-form input[name="phone"] {
    width: 193px;
    padding: 20px;
    border-radius: 3px;
    margin-right: 6px;
    border: none;
    margin-bottom: 20px; }
  .main-form input[name="email"] {
    width: 295px;
    padding: 20px;
    border-radius: 3px;
    margin-right: 6px;
    border: none;
    margin-bottom: 20px; }
  .main-form button {
    background: transparent;
    padding: 18px;
    border-radius: 3px;
    color: #fff;
    width: 155px;
    border: 2px solid #fff; }
  .main-form button:active {
    background: #404147;
    outline: none; }

.bottom-bg {
  height: 810px;
  background: url("../img/bottom-bg.jpg") center top no-repeat;
  background-size: cover;
  margin-bottom: 500px; }

.bottom-bg-inner {
  position: relative;
  margin-left: 15px;
  margin-right: 15px; }

.orange-bottom {
  position: absolute;
  bottom: 0px; }

.footer-bottom-img {
  background: url("../img/bottom-img1.jpg") center top no-repeat;
  background-size: cover;
  height: 388px; }

.footer-bottom-text {
  height: 388px;
  padding-top: 58px;
  padding-left: 7%;
  padding-right: 12%;
  overflow: hidden; }
  .footer-bottom-text p {
    margin-top: 14px;
    margin-bottom: 47px;
    line-height: 23px; }
  .footer-bottom-text h2 {
    color: #3a4d69; }

/* CONTENT end */
/* FOOTER */
footer {
  padding-top: 75px;
  padding-left: 8%;
  background: #323339;
  font-family: 'Montserrat', sans-serif; }
  footer h5 {
    color: #f26522;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 18px; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul a {
      font-size: 12px;
      color: #fff;
      line-height: 26px; }
    footer ul a:hover,
    footer ul a:focus {
      color: #fff; }
  footer .col-md-6:first-child {
    padding-left: 8%; }
  footer .row:first-child {
    margin-bottom: 43px; }
  footer .copy {
    padding-left: 8%;
    margin-bottom: 240px;
    font-size: 12px;
    color: #494a56; }

/* FOOTER end */
@media only screen and (max-width: 992px) {
  .header-bottom,
  .orange-bg,
  .content1,
  .orange-bottom {
    position: static;
    width: 100%;
    height: auto; }
  .main-header {
    margin-bottom: -127px;
    height: 900px; }
  nav {
    padding-left: 5%; }
  .header-section {
    padding-left: 5%; }
  .orange-bg-content h2 {
    margin-top: 0px;
    padding-top: 30px; }
  .content2 {
    float: none;
    width: 100%; }
  .form-container {
    width: 100%;
    padding-right: 4%; }
    .form-container input,
    .form-container button {
      display: block; }
  .bottom-bg {
    margin-bottom: 0;
    height: 500px; }
  .orange-bg {
    padding-left: 4%;
    padding-right: 4%; }
  .newspaper {
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 7%; }
  footer {
    text-align: center; }
    footer p {
      padding-right: 10%; }
    footer .col-md-6:first-child {
      padding-left: 0; }
    footer .col-md-6 {
      padding: 0; }
  .main-form input[name="name"],
  .main-form input[name="phone"],
  .main-form input[name="email"] {
    width: 100%; } }

@media only screen and (min-width: 676px) {
  .main-menu {
    display: block !important; } }

@media only screen and (max-width: 675px) {
  .main-menu {
    display: none;
    position: absolute;
    text-align: center; }
  .main-menu li {
    display: block; }
  .fa-bars {
    display: block; }
  nav {
    padding-top: 10px;
    height: 285px;
    margin-bottom: 30px; }
  .main-header {
    height: 800px; } }

@media only screen and (max-width: 768px) {
  .column2,
  .column {
    column-count: 1;
    padding-right: 3%; } }

/*# sourceMappingURL=style.css.map */