/* line 3, D:/dz/tamtamlg.github.io/final/css/style.scss */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

/* line 8, D:/dz/tamtamlg.github.io/final/css/style.scss */
.wrapper {
  width: 320px;
  overflow: hidden;
  margin: 0 auto; }

/* line 14, D:/dz/tamtamlg.github.io/final/css/style.scss */
.container {
  margin: 0 auto;
  width: 300px; }

/* line 19, D:/dz/tamtamlg.github.io/final/css/style.scss */
.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/* line 25, D:/dz/tamtamlg.github.io/final/css/style.scss */
a {
  color: #fff;
  text-decoration: none;
  display: inline-block; }

/* line 32, D:/dz/tamtamlg.github.io/final/css/style.scss */
.btn-invers {
  padding: 8px 17px;
  border: 2px solid #fff;
  border-radius: 20px; }

/* line 38, D:/dz/tamtamlg.github.io/final/css/style.scss */
.btn {
  background: #ff4e50;
  padding: 15px 50px;
  border-radius: 20px; }

/* HEADER */
/* line 47, D:/dz/tamtamlg.github.io/final/css/style.scss */
header {
  margin: 0 auto;
  padding-top: 20px;
  width: 320px;
  height: 520px;
  background: url("../img/header-bg.jpg") no-repeat center top;
  color: #fff;
  text-align: center;
  background-size: cover; }
  /* line 57, D:/dz/tamtamlg.github.io/final/css/style.scss */
  header .menu {
    text-align: center;
    margin-bottom: 115px; }
  /* line 62, D:/dz/tamtamlg.github.io/final/css/style.scss */
  header .logo {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    margin-bottom: 40px; }
  /* line 70, D:/dz/tamtamlg.github.io/final/css/style.scss */
  header h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px 0; }
  /* line 78, D:/dz/tamtamlg.github.io/final/css/style.scss */
  header p {
    margin: 0 0 20px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center; }
  /* line 89, D:/dz/tamtamlg.github.io/final/css/style.scss */
  header .btn-invers {
    margin-left: 20px; }

/* HEADER end*/
/* HOW-WORKS */
/* line 99, D:/dz/tamtamlg.github.io/final/css/style.scss */
.how-works h2 {
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  color: #333; }

/* line 106, D:/dz/tamtamlg.github.io/final/css/style.scss */
.how-works h2:first-child {
  text-align: center;
  font-size: 22px; }

/* line 111, D:/dz/tamtamlg.github.io/final/css/style.scss */
.how-works .how-works__item {
  height: 240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: inset 0 -240px 240px 0 rgba(0, 0, 0, 0.4); }
  /* line 120, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .how-works .how-works__item h2 {
    color: #fff;
    margin: 0;
    margin-bottom: 20px; }

/* line 127, D:/dz/tamtamlg.github.io/final/css/style.scss */
.how-works .how-works__wrap {
  position: absolute;
  bottom: 20px; }
  /* line 131, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .how-works .how-works__wrap .btn {
    padding: 7px 14px;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 10px;
    letter-spacing: 3px;
    margin-bottom: 20px; }
  /* line 140, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .how-works .how-works__wrap p {
    font-family: "Roboto", sans-serif;
    color: #ccc;
    margin: 0;
    max-height: 60px;
    overflow-y: hidden; }

/* line 149, D:/dz/tamtamlg.github.io/final/css/style.scss */
.how-works .step-1 {
  background: url("../img/img-1.png") no-repeat center top;
  background-size: cover; }

/* line 154, D:/dz/tamtamlg.github.io/final/css/style.scss */
.how-works .step-2 {
  background: url("../img/img-2.png") no-repeat center top;
  background-size: cover; }

/* line 159, D:/dz/tamtamlg.github.io/final/css/style.scss */
.how-works .step-3 {
  background: url("../img/img-3.png") no-repeat center top;
  background-size: cover; }

/* HOW-WORKS end*/
/* PARTNERS */
/* line 167, D:/dz/tamtamlg.github.io/final/css/style.scss */
.partners {
  text-align: center; }
  /* line 171, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .partners h2 {
    text-align: center;
    padding: 0 20px 0 20px;
    margin: 0; }

/* line 179, D:/dz/tamtamlg.github.io/final/css/style.scss */
.partners__item {
  margin-bottom: 30px; }
  /* line 183, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .partners__item a {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px; }
  /* line 190, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .partners__item h3 {
    text-align: center; }
  /* line 194, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .partners__item p {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: #666; }

/* line 208, D:/dz/tamtamlg.github.io/final/css/style.scss */
.item-1 a {
  background: url("../img/spritesheet.png") no-repeat;
  border-radius: 50%;
  position: relative;
  width: 122px;
  height: 122px;
  background-position: -5px -5px; }

/* line 217, D:/dz/tamtamlg.github.io/final/css/style.scss */
.item-1 a:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -5px;
  right: -5px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 40px;
  height: 40px;
  background-position: -5px -574px; }

/* line 232, D:/dz/tamtamlg.github.io/final/css/style.scss */
.item-2 a {
  background: url("../img/spritesheet.png") no-repeat;
  border-radius: 50%;
  position: relative;
  width: 123px;
  height: 123px;
  background-position: -5px -137px; }

/* line 241, D:/dz/tamtamlg.github.io/final/css/style.scss */
.item-2 a:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -5px;
  right: -5px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 40px;
  height: 40px;
  background-position: -5px -624px; }

/* line 256, D:/dz/tamtamlg.github.io/final/css/style.scss */
.item-3 a {
  background: url("../img/spritesheet.png") no-repeat;
  border-radius: 50%;
  position: relative;
  width: 124px;
  height: 124px;
  background-position: -5px -270px; }

/* line 265, D:/dz/tamtamlg.github.io/final/css/style.scss */
.item-3 a:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -5px;
  right: -5px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 41px;
  height: 40px;
  background-position: -5px -674px; }

/* line 280, D:/dz/tamtamlg.github.io/final/css/style.scss */
.item-4 a {
  background: url("../img/spritesheet.png") no-repeat;
  border-radius: 50%;
  position: relative;
  width: 126px;
  height: 126px;
  background-position: -5px -404px; }

/* line 289, D:/dz/tamtamlg.github.io/final/css/style.scss */
.item-4 a:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -5px;
  right: -5px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 41px;
  height: 40px;
  background-position: -5px -724px; }

/* line 304, D:/dz/tamtamlg.github.io/final/css/style.scss */
.btn-invers--red {
  padding: 10px 75px;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  color: #ff4e50; }

/* PARTNERS end */
/* IDEAS */
/* line 315, D:/dz/tamtamlg.github.io/final/css/style.scss */
.ideas h2 {
  text-align: center; }

/* line 322, D:/dz/tamtamlg.github.io/final/css/style.scss */
.grid-item {
  margin: 0 auto;
  width: 95%;
  height: 45vw;
  font-size: 0;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden; }
  /* line 331, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .grid-item .title {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-family: "Montserrat", sans-serif; }

/* IDEAS end */
/* SEARCH */
/* line 349, D:/dz/tamtamlg.github.io/final/css/style.scss */
.search {
  text-align: center; }
  /* line 352, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .search h2 {
    text-align: center; }
  /* line 356, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .search p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #333;
    font-weight: 300; }
  /* line 364, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .search input {
    width: 246px;
    display: block;
    margin: 0 auto;
    padding: 13px 17px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #999;
    border-radius: 5px;
    outline: none;
    border: 1px solid #999;
    margin-bottom: 10px; }
  /* line 379, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .search .btn {
    display: inline-block;
    padding: 15px 85px; }

/* SEARCH end */
/* FOOTER */
/* line 388, D:/dz/tamtamlg.github.io/final/css/style.scss */
footer {
  border-top: 4px solid #ff4e50;
  margin-top: 40px; }
  /* line 392, D:/dz/tamtamlg.github.io/final/css/style.scss */
  footer .logo--red {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px; }
    /* line 400, D:/dz/tamtamlg.github.io/final/css/style.scss */
    footer .logo--red a {
      color: #ff4e50; }
  /* line 405, D:/dz/tamtamlg.github.io/final/css/style.scss */
  footer h4 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    margin: 0; }
  /* line 414, D:/dz/tamtamlg.github.io/final/css/style.scss */
  footer .footer-menu {
    list-style: none;
    margin-bottom: 13px;
    margin-top: 7px;
    padding: 0;
    font-size: 0;
    text-align: center; }
    /* line 423, D:/dz/tamtamlg.github.io/final/css/style.scss */
    footer .footer-menu li {
      display: inline-block; }
    /* line 427, D:/dz/tamtamlg.github.io/final/css/style.scss */
    footer .footer-menu a {
      display: block;
      margin-right: 15px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #666; }
    /* line 435, D:/dz/tamtamlg.github.io/final/css/style.scss */
    footer .footer-menu li:last-child a {
      margin-right: 0; }
  /* line 440, D:/dz/tamtamlg.github.io/final/css/style.scss */
  footer .design {
    text-align: center; }
    /* line 443, D:/dz/tamtamlg.github.io/final/css/style.scss */
    footer .design span {
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: bold;
      line-height: 10px;
      text-transform: uppercase;
      color: #ccc; }
    /* line 455, D:/dz/tamtamlg.github.io/final/css/style.scss */
    footer .design a {
      display: inline-block;
      margin-bottom: 20px;
      background: url("../img/spritesheet.png") no-repeat;
      width: 110px;
      height: 24px;
      background-position: -5px -540px; }

/* FOOTER end */
/* 321-768 */
@media (min-width: 321px) {
  /* line 473, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .wrapper {
    width: 768px; }
  /* line 477, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .container {
    width: 750px; }
  /* HEADER */
  /* line 482, D:/dz/tamtamlg.github.io/final/css/style.scss */
  header {
    width: 768px;
    height: 700px; }
    /* line 486, D:/dz/tamtamlg.github.io/final/css/style.scss */
    header .header-menu {
      padding-left: 50px;
      padding-right: 50px;
      height: 40px;
      margin-bottom: 155px; }
    /* line 493, D:/dz/tamtamlg.github.io/final/css/style.scss */
    header .menu {
      float: right; }
    /* line 497, D:/dz/tamtamlg.github.io/final/css/style.scss */
    header .logo {
      float: left; }
      /* line 500, D:/dz/tamtamlg.github.io/final/css/style.scss */
      header .logo a {
        line-height: 40px; }
    /* line 506, D:/dz/tamtamlg.github.io/final/css/style.scss */
    header h1 {
      font-size: 52px;
      line-height: 52px; }
    /* line 511, D:/dz/tamtamlg.github.io/final/css/style.scss */
    header p {
      font-size: 24px;
      line-height: 24px; }
    /* line 516, D:/dz/tamtamlg.github.io/final/css/style.scss */
    header .btn-invers {
      margin-left: 20px; }
  /* HEADER end*/
  /* HOW-WORKS */
  /* line 525, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .how-works h2 {
    text-align: left;
    font-size: 22px;
    line-height: 22px;
    color: #333; }
  /* line 532, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .how-works h2:first-child {
    text-align: center; }
  /* line 536, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .how-works .how-works__item {
    width: 195px;
    height: 400px;
    margin-right: 2.1%;
    display: inline-block; }
  /* line 543, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .how-works .how-works__item:last-child {
    margin-right: 0; }
  /* line 547, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .how-works .how-works__item {
    bottom: 15px; }
  /* HOW-WORKS end*/
  /* PARTNERS */
  /* line 555, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .partners {
    text-align: center; }
    /* line 559, D:/dz/tamtamlg.github.io/final/css/style.scss */
    .partners h2 {
      text-align: center;
      padding: 0 20px 0 20px;
      margin: 0; }
    /* line 565, D:/dz/tamtamlg.github.io/final/css/style.scss */
    .partners .container {
      width: 470px; }
  /* line 571, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .partners__item {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin-bottom: 30px; }
  /* PARTNERS end*/
  /* IDEAS */
  /* line 582, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .ideas h2 {
    text-align: center; }
  /*////////////////////////////////*/
  /* line 595, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .grid-sizer,
  .grid-item {
    width: 30%;
    height: 310px; }
  /* line 603, D:/dz/tamtamlg.github.io/final/css/style.scss */
  .grid-item:nth-child(5),
  .grid-item:nth-child(6) {
    width: 61.5%;
    height: 310px; }
  /* IDEAS end */ }

/*# sourceMappingURL=style.css.map */