@font-face {
  font-family: 'Fira Sans';
  src: url("../font/firasans-regular-webfont.woff2") format("woff2"), url("../font/firasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* line 10, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 24px; }

/* line 17, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
* {
  box-sizing: border-box; }

/* line 21, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
*:before,
*:after {
  box-sizing: border-box; }

/* line 24, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/* line 29, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
.btn {
  background: transparent;
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f9f9f9; }

/* line 41, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
.btn-green {
  color: #2ebd59;
  border-color: #2ebd59; }

/* line 46, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
header {
  height: 900px;
  background: url("../img/header-bg.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 88px; }
  /* line 52, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  header .logo {
    float: left;
    width: 80px;
    height: 80px;
    background: #000;
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    color: #fff;
    text-align: center;
    padding: 12px; }
  /* line 66, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  header .menu {
    float: right;
    text-align: center;
    cursor: pointer; }
    /* line 70, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
    header .menu__icon {
      font-size: 28px; }
    /* line 73, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
    header .menu__text {
      font-size: 12px;
      text-transform: uppercase;
      color: #000; }
  /* line 80, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  header .row1 {
    margin-bottom: 200px; }
  /* line 84, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  header h1 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 300; }
  /* line 90, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  header p {
    font-size: 30px;
    line-height: 45px;
    font-weight: 300; }

/* line 97, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
.foto {
  min-height: 500px; }
  /* line 100, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .foto .foto__img {
    min-height: 500px;
    background: url("../img/img1.jpg") center center no-repeat;
    background-size: cover; }
  /* line 106, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .foto .foto__text {
    height: 500px;
    background: #f3f1ef;
    padding-top: 10%;
    padding-left: 5%; }
    /* line 111, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
    .foto .foto__text h2 {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      color: #666;
      text-transform: uppercase; }
    /* line 118, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
    .foto .foto__text p {
      max-width: 80%;
      font-size: 36px;
      line-height: 36px;
      color: #666;
      font-weight: 300; }

/* line 127, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
.galery {
  min-height: 515px; }
  /* line 130, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .galery .galery__item1 {
    min-height: 515px;
    background: url("../img/img2.jpg") center center no-repeat;
    background-size: cover; }
  /* line 135, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .galery .galery__item2 {
    min-height: 515px;
    background: url("../img/img3.jpg") center center no-repeat;
    background-size: cover; }
  /* line 140, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .galery .galery__item3 {
    min-height: 515px;
    background: url("../img/img4.jpg") center center no-repeat;
    background-size: cover; }
  /* line 145, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .galery .galery__item4 {
    min-height: 515px;
    background: url("../img/img5.jpg") center center no-repeat;
    background-size: cover; }

/* line 152, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
.instagram {
  min-height: 515px;
  background: #3f729b; }
  /* line 156, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .instagram .instagram__img {
    min-height: 515px;
    background: url("../img/img6.jpg") center center no-repeat;
    background-size: cover; }
  /* line 162, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .instagram .instagram__text {
    min-height: 515px;
    padding-top: 10%;
    padding-left: 5%; }
  /* line 167, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .instagram h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #f9f9f9;
    text-transform: uppercase; }
  /* line 174, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .instagram p {
    max-width: 80%;
    font-size: 36px;
    line-height: 36px;
    color: #f9f9f9;
    font-weight: 300; }

/* line 183, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
.music {
  height: 900px;
  background: #282b2f; }
  /* line 187, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .music .music__img {
    width: 75%;
    float: right;
    height: 900px;
    background: url("../img/img7.jpg") center center no-repeat;
    background-size: cover; }
  /* line 194, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .music .music__text {
    padding-top: 70px;
    padding-left: 3%;
    height: 500px;
    background-color: #212227;
    color: #2ebd59;
    max-width: 400px; }
    /* line 201, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
    .music .music__text h3 {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 0; }
    /* line 207, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
    .music .music__text span {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 32px; }
    /* line 212, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
    .music .music__text p {
      color: #f9f9f9;
      font-size: 14px;
      margin-top: 10%;
      margin-bottom: 10%; }

/* line 222, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
.spotify-itunes {
  min-height: 515px;
  color: #f9f9f9; }
  /* line 226, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .spotify-itunes .spotify {
    padding-top: 100px;
    padding-left: 10%;
    height: 515px;
    background: #2ebd59; }
  /* line 233, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .spotify-itunes .itunes {
    padding-top: 100px;
    padding-left: 5%;
    height: 515px;
    background: #282b2f; }
  /* line 240, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .spotify-itunes h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #f9f9f9;
    text-transform: uppercase; }
  /* line 247, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  .spotify-itunes p {
    max-width: 80%;
    font-size: 36px;
    line-height: 36px;
    color: #f9f9f9;
    font-weight: 300; }

/* line 256, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
footer {
  min-height: 600px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #212227; }
  /* line 264, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-4 h3,
  footer .col-md-4 span {
    text-transform: uppercase;
    color: #f9f9f9;
    margin-bottom: 0;
    font-weight: 700; }
  /* line 270, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-4 p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #919191;
    font-size: 14px; }
  /* line 276, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-4 .copy {
    font-weight: 300;
    color: #919191; }
  /* line 283, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-2 h3 {
    text-transform: uppercase;
    color: #f9f9f9;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 30px; }
  /* line 290, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-2 p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #919191;
    font-size: 14px; }
  /* line 296, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-2 .icons {
    margin-bottom: 0;
    margin-top: 5px; }
  /* line 303, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-6 h3 {
    text-transform: uppercase;
    color: #f9f9f9;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 30px; }
  /* line 310, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-6 p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #919191;
    font-size: 14px; }
  /* line 316, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-6 input[type="email"] {
    width: 100%;
    padding: 15px;
    border: none;
    background: #4d4e52;
    margin-bottom: 20px; }
  /* line 323, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-6 form {
    position: relative; }
  /* line 326, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-6 button[type="submit"] {
    background: transparent;
    border: none;
    color: #919191;
    position: absolute;
    right: 10px;
    top: 15px; }
  /* line 334, D:/dz/tamtamlg.github.io/amazing/css/style.scss */
  footer .col-md-6 .sponsor__logo {
    color: #f9f9f9;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #f9f9f9;
    text-align: center;
    padding-top: 25px;
    margin-right: 3%; }

/*# sourceMappingURL=style.css.map */