body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.btn {
  background: transparent;
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f9f9f9;
}
.btn-green {
  color: #2ebd59;
  border-color: #2ebd59;
}

header {
  height: 900px;
  background: url('../img/header-bg.jpg') center center no-repeat;
  background-size: cover;
  padding-top: 88px;
  
  .logo {
    float: left;
    width: 80px;
    height: 80px;
    background: #000;
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    color: #fff;
    text-align: center;
    padding: 12px;
  }
  
  .menu {
    float: right;
    text-align: center;
    cursor: pointer;
    &__icon {
      font-size: 28px;
    }
    &__text {
      font-size: 12px;
      text-transform: uppercase;
      color: #000;
    }
  }
  
  .row1 {
    margin-bottom: 200px;
  }
  
  h1 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 300;
  }
  
  p {
    font-size: 30px;
    line-height: 45px;
    font-weight: 300;
  }
}

.foto {
    min-height: 500px;

  .foto__img {
    min-height: 500px;
    background: url('../img/img1.jpg') center center no-repeat;
    background-size: cover;
  }
  
  .foto__text {
    min-height: 500px;
    background: #f3f1ef;
    padding-top: 10%;
    padding-left: 5%;
    h2 {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      color: #666;
      text-transform: uppercase;
    }
    p {
      max-width: 80%;
      font-size: 36px;
      line-height: 36px;
      color: #666;
      font-weight: 300;
    }
  }
}
.galery {
  min-height: 515px;

  .galery__item1 {
    min-height: 515px;
    background: url('../img/img2.jpg') center center no-repeat;
    background-size: cover;
  }
  .galery__item2 {
    min-height: 515px;
    background: url('../img/img3.jpg') center center no-repeat;
    background-size: cover;
  }
  .galery__item3 {
    min-height: 515px;
    background: url('../img/img4.jpg') center center no-repeat;
    background-size: cover;
  }
  .galery__item4 {
    min-height: 515px;
    background: url('../img/img5.jpg') center center no-repeat;
    background-size: cover;
  }
}

.instagram {
  min-height: 515px;
  background: #3f729b;
  
  .instagram__img {
    min-height: 515px;
    background: url('../img/img6.jpg') center center no-repeat;
    background-size: cover;
  }
  
  .instagram__text {
    min-height: 515px;
    padding-top: 10%;
    padding-left: 5%;
  }
  h2 {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      color: #f9f9f9;
      text-transform: uppercase;
    }
    p {
      max-width: 80%;
      font-size: 36px;
      line-height: 36px;
      color: #f9f9f9;
      font-weight: 300;
    }
}

.music {
  height: 900px;
  background: #282b2f;
  
  .music__img {
    width: 75%;
    float: right;
    height: 900px;
    background: url('../img/img7.jpg') center center no-repeat;
    background-size: cover;
  }
  .music__text {
    padding-top: 70px;
    padding-left: 3%;
    height: 500px;
    background-color: #212227;
    color: #2ebd59;
    max-width: 400px;
    h3 {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 0;
    }
    span {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 32px;
    }
    p {
      color: #f9f9f9;
      font-size: 14px;
      margin-top: 10%;
      margin-bottom: 10%;
    }
  }
  
}

.spotify-itunes {
  height: 515px;
  color: #f9f9f9;
  
  .spotify {
    padding-top: 100px;
    padding-left: 10%;
    height: 515px;
    background: #2ebd59;
  }
  
  .itunes {
    padding-top: 100px;
    padding-left: 5%;
    height: 515px;
    background: #282b2f;
  }
  
  h2 {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      color: #f9f9f9;
      text-transform: uppercase;
    }
    p {
      max-width: 80%;
      font-size: 36px;
      line-height: 36px;
      color: #f9f9f9;
      font-weight: 300;
    }
}