/* line 3, D:/PROJECT/flowers/source/css/style.scss */

html {
	min-height: 100%;
	position: relative;
}

/* line 8, D:/PROJECT/flowers/source/css/style.scss */

body {
	height: 100%;
	padding-bottom: 300px;
	font-family: 'Pacifico', cursive;
	font-style: italic;
}

/* HEADER */

/* line 17, D:/PROJECT/flowers/source/css/style.scss */

.my-nav {
	text-align: center;
}

/* line 20, D:/PROJECT/flowers/source/css/style.scss */

.nav.my-nav li {
	margin-left: 3px;
}

/* line 23, D:/PROJECT/flowers/source/css/style.scss */

.nav.my-nav li a {
	padding: 10px 20px;
	background: #eee;
	color: #000;
}

/* line 28, D:/PROJECT/flowers/source/css/style.scss */

.nav.my-nav li a:hover {
	background: #8eb037;
	color: #fff;
}

/* line 32, D:/PROJECT/flowers/source/css/style.scss */

.navbar.navbar-default {
	padding-top: 30px;
	padding-bottom: 20px;
	border: none;
	background: none;
}

/* line 38, D:/PROJECT/flowers/source/css/style.scss */

.nav.my-nav .my-nav__active a {
	background: #8eb037;
	color: #fff;
}

/* HEADER end*/

/* CONTENT */

/* line 45, D:/PROJECT/flowers/source/css/style.scss */

.order-section {
	background-image: url("../img/gray_jean.png");
}

/* line 49, D:/PROJECT/flowers/source/css/style.scss */

.order-section h2 {
	text-align: center;
}

/* line 52, D:/PROJECT/flowers/source/css/style.scss */

.order-section .order-section__left p {
	font-size: 18px;
}

/* line 57, D:/PROJECT/flowers/source/css/style.scss */

.order-section .order-section__right {
	padding: 0;
}

/* line 60, D:/PROJECT/flowers/source/css/style.scss */

.order-section .order-section__right img {
	margin: auto;
}

/* line 63, D:/PROJECT/flowers/source/css/style.scss */

.order-section a.btn-link {
	float: right;
}

/* line 67, D:/PROJECT/flowers/source/css/style.scss */

.even-section {
	background-image: none;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* line 71, D:/PROJECT/flowers/source/css/style.scss */

.even-section h2 {
	text-align: center;
}

/* line 74, D:/PROJECT/flowers/source/css/style.scss */

.even-section .even-section__left p {
	font-size: 18px;
}

/* line 79, D:/PROJECT/flowers/source/css/style.scss */

.even-section .even-section__right {
	padding: 0;
}

/* line 82, D:/PROJECT/flowers/source/css/style.scss */

.even-section .even-section__right img {
	margin: auto;
}

/* line 85, D:/PROJECT/flowers/source/css/style.scss */

.even-section a.btn-link {
	float: right;
}

/* line 90, D:/PROJECT/flowers/source/css/style.scss */

.my-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #8eb037;
	color: #fff;
}

/* line 96, D:/PROJECT/flowers/source/css/style.scss */

.my-btn:hover {
	background: #7da926;
	color: #fff;
}

/* line 106, D:/PROJECT/flowers/source/css/style.scss */

hr {
	margin-top: 50px;
}

/*************/

/* line 112, D:/PROJECT/flowers/source/css/style.scss */

.catalog-heading {
	text-align: center;
	margin-bottom: 40px;
}

/* line 116, D:/PROJECT/flowers/source/css/style.scss */

.my-label {
	background: #55a922;
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	right: -10px;
	top: -10px;
}

/* line 124, D:/PROJECT/flowers/source/css/style.scss */

.sale {
	background: #ffa922;
}

/* line 127, D:/PROJECT/flowers/source/css/style.scss */

.thumbnail {
	position: relative;
	text-align: center;
}

/* line 131, D:/PROJECT/flowers/source/css/style.scss */

.my-pagination {
	text-align: center;
}

/* line 135, D:/PROJECT/flowers/source/css/style.scss */

.my-pagination .active a,
.my-pagination .active a:hover,
.my-pagination .active a:focus {
	background: #ccc;
	border-color: #ccc;
}

/* line 140, D:/PROJECT/flowers/source/css/style.scss */

.filter {
	margin-bottom: 50px;
}

/* line 142, D:/PROJECT/flowers/source/css/style.scss */

.filter ul {
	list-style: none;
	font-size: 20px;
}

/* CONTENT end */

/*FOOTER*/

/* line 150, D:/PROJECT/flowers/source/css/style.scss */

footer {
	position: absolute;
	bottom: 0;
	margin-top: 50px;
	text-align: center;
}

/* line 156, D:/PROJECT/flowers/source/css/style.scss */

.footer-top {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #aaa;
	color: #fff;
}

/* line 162, D:/PROJECT/flowers/source/css/style.scss */

.footer-top h4 {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #fff;
}

/* line 167, D:/PROJECT/flowers/source/css/style.scss */

.footer-top .social-btn a {
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	padding: 7px;
	color: #fff;
	border: 1px solid #fff;
}

/* line 177, D:/PROJECT/flowers/source/css/style.scss */

.footer-top .social-btn a:hover,
.footer-top .social-btn a:focus {
	text-decoration: none;
}

/* line 180, D:/PROJECT/flowers/source/css/style.scss */

.footer-bottom {
	background: #999;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*FOOTER-end*/

@media only screen and (min-width: 480px) {

/* line 199, D:/PROJECT/flowers/source/css/style.scss */

.features-item img {
	margin: auto;
}

/* line 202, D:/PROJECT/flowers/source/css/style.scss */

.images-item img {
	margin: auto;
}

}

@media only screen and (min-width: 960px) {

/* line 191, D:/PROJECT/flowers/source/css/style.scss */

.order-section__left {
	margin-top: 3%;
}

}

