html {
	min-height: 100%;
	position: relative;
}

body {
	padding-top: 100px;
	font-family: 'Pacifico', cursive;
	font-style: italic;
}

/* HEADER */

nav.navbar.navbar-fixed-top {
	background: #fff;
}

.my-nav {
	text-align: center;
}

.nav.my-nav li {
	margin-left: 3px;
}

.nav.my-nav li a {
	padding: 10px 20px;
	background: #eee;
	color: #000;
}

.nav.my-nav li a:hover {
	background: #8eb037;
	color: #fff;
}

.navbar.navbar-default {
	padding-top: 30px;
	padding-bottom: 20px;
	border: none;
	background: none;
}

.nav.my-nav .active a {
	background: #8eb037;
	color: #fff;
}

/* HEADER end*/

/* CONTENT */

section {
	min-height: 350px;
}

.img-bg1 {
	background: url("../img/img1.jpg") center center no-repeat;
	background-size: cover;
	min-height: 350px;
}

.img-bg2 {
	background: url("../img/img2.jpg") center center no-repeat;
	background-size: cover;
	min-height: 350px;
}

.img-bg3 {
	background: url("../img/img3.jpg") center center no-repeat;
	background-size: cover;
	min-height: 350px;
}

.order-section {
	background-image: url("../img/gray_jean.png");
}

.order-section h2 {
	text-align: center;
}

.order-section .order-section__left p {
	font-size: 18px;
	text-overflow: ellipsis;
}

.order-section .order-section__right {
	padding: 0;
}

.order-section .order-section__right img {
	margin: auto;
}

.order-section a.btn-link {
	float: right;
}

.even-section {
	background-image: none;
}

.even-section h2 {
	text-align: center;
}

.even-section .even-section__left p {
	text-overflow: ellipsis;
	font-size: 18px;
}

.even-section .even-section__right {
	padding: 0;
}

.even-section .even-section__right img {
	margin: auto;
}

.even-section a.btn-link {
	float: right;
}

.my-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #8eb037;
	color: #fff;
}

.my-btn:hover {
	background: #7da926;
	color: #fff;
}

hr {
	margin-top: 50px;
}

/*************/

.catalog-heading {
	text-align: center;
	margin-bottom: 40px;
}

.my-label {
	background: #55a922;
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	right: -10px;
	top: -10px;
}

.sale {
	background: #ffa922;
}

.thumbnail {
	position: relative;
	text-align: center;
}

.my-pagination {
	text-align: center;
}

.my-pagination .active a,
.my-pagination .active a:hover,
.my-pagination .active a:focus {
	background: #ccc;
	border-color: #ccc;
}

.filter {
	margin-bottom: 50px;
}

.filter ul {
	list-style: none;
	font-size: 20px;
}

/* CONTENT end */

/*FOOTER*/

footer {
	bottom: 0;
	text-align: center;
}

.footer-top {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #aaa;
	color: #fff;
}

.footer-top h4 {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #fff;
}

.footer-top .social-btn a {
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	padding: 7px;
	color: #fff;
	border: 1px solid #fff;
}

.footer-top .social-btn a:hover,
.footer-top .social-btn a:focus {
	text-decoration: none;
}

.footer-bottom {
	background: #999;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*FOOTER-end*/

form button {
	background: #8eb037;
	color: #fff;
}

@media only screen and (min-width: 480px) {

.features-item img {
	margin: auto;
}

.images-item img {
	margin: auto;
}

}

@media all and (max-width: 848px) and (min-width: 768px) {

body {
	padding-top: 140px;
}

}

@media only screen and (min-width: 960px) {

.order-section__left,
.even-section__left {
	margin-top: 3%;
	padding-left: 30px;
	padding-right: 30px;
}

}

