/* line 3, D:/PROJECT/flowers/source/css/style.scss */

html {
	min-height: 100%;
	position: relative;
}

/* line 8, D:/PROJECT/flowers/source/css/style.scss */

body {
	height: 100%;
	padding-bottom: 300px;
	font-family: 'Pacifico', cursive;
	font-style: italic;
}

/* HEADER */

/* line 16, D:/PROJECT/flowers/source/css/style.scss */

.my-nav {
	text-align: center;
}

/* line 19, D:/PROJECT/flowers/source/css/style.scss */

.nav.my-nav li {
	margin-left: 3px;
}

/* line 22, D:/PROJECT/flowers/source/css/style.scss */

.nav.my-nav li a {
	padding: 10px 20px;
	background: #eee;
	color: #000;
}

/* line 27, D:/PROJECT/flowers/source/css/style.scss */

.nav.my-nav li a:hover {
	background: #8eb037;
	color: #fff;
}

/* line 31, D:/PROJECT/flowers/source/css/style.scss */

.navbar.navbar-default {
	padding-top: 30px;
	padding-bottom: 20px;
	border: none;
	background: none;
}

/* line 37, D:/PROJECT/flowers/source/css/style.scss */

.nav.my-nav .my-nav__active a {
	background: #8eb037;
	color: #fff;
}

/* HEADER end*/

/* CONTENT */

/* line 44, D:/PROJECT/flowers/source/css/style.scss */

.order-section {
	background-image: url("../img/gray_jean.png");
	color: #8eb037;
	padding-top: 3%;
	padding-bottom: 3%;
}

/* line 50, D:/PROJECT/flowers/source/css/style.scss */

.order-section .order-section__left {
	text-align: center;
}

/* line 53, D:/PROJECT/flowers/source/css/style.scss */

.order-section .order-section__left p {
	font-size: 18px;
}

/* line 58, D:/PROJECT/flowers/source/css/style.scss */

.my-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #8eb037;
	color: #fff;
}

/* line 64, D:/PROJECT/flowers/source/css/style.scss */

.my-btn:hover {
	background: #7da926;
	color: #fff;
}

/* line 69, D:/PROJECT/flowers/source/css/style.scss */

.carousel-indicators li {
	border: 1px solid #000;
}

/* line 72, D:/PROJECT/flowers/source/css/style.scss */

.carousel-indicators .active {
	background: #000;
}

/* line 75, D:/PROJECT/flowers/source/css/style.scss */

.carousel-caption {
	text-shadow: 0 1px 2px black;
}

/* line 78, D:/PROJECT/flowers/source/css/style.scss */

.carousel img {
	margin: auto;
	width: 100%;
}

/* line 83, D:/PROJECT/flowers/source/css/style.scss */

.callback {
	margin-top: 50px;
	text-align: center;
}

/* line 87, D:/PROJECT/flowers/source/css/style.scss */

.callback p {
	font-size: 18px;
}

/* line 91, D:/PROJECT/flowers/source/css/style.scss */

.images {
	margin-top: 40px;
	margin-bottom: 20px;
}

/* line 94, D:/PROJECT/flowers/source/css/style.scss */

.images hr {
	margin-top: 50px;
}

/* line 98, D:/PROJECT/flowers/source/css/style.scss */

.images .images-item {
	position: relative;
	padding: 0;
}

/* line 102, D:/PROJECT/flowers/source/css/style.scss */

.images .image-hover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(142, 176, 55, 0.8);
	display: none;
	text-align: center;
	padding-top: 20%;
	color: #fff;
}

/* line 114, D:/PROJECT/flowers/source/css/style.scss */

.images .image-hover h5 {
	text-transform: uppercase;
}

/* line 117, D:/PROJECT/flowers/source/css/style.scss */

.images .images-item:hover .image-hover {
	display: block;
}

/* line 120, D:/PROJECT/flowers/source/css/style.scss */

.info {
	margin-bottom: 20px;
}

/* line 123, D:/PROJECT/flowers/source/css/style.scss */

hr {
	margin-top: 50px;
}

/* line 126, D:/PROJECT/flowers/source/css/style.scss */

.features {
	margin-top: 40px;
	margin-bottom: 20px;
}

/* line 132, D:/PROJECT/flowers/source/css/style.scss */

.catalog-heading {
	text-align: center;
	margin-bottom: 40px;
}

/* line 136, D:/PROJECT/flowers/source/css/style.scss */

.my-label {
	background: #55a922;
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	right: -10px;
	top: -10px;
}

/* line 144, D:/PROJECT/flowers/source/css/style.scss */

.sale {
	background: #ffa922;
}

/* line 147, D:/PROJECT/flowers/source/css/style.scss */

.thumbnail {
	position: relative;
}

/* line 150, D:/PROJECT/flowers/source/css/style.scss */

.my-pagination {
	text-align: center;
}

/* line 154, D:/PROJECT/flowers/source/css/style.scss */

.my-pagination .active a,
.my-pagination .active a:hover,
.my-pagination .active a:focus {
	background: #55a922;
}

/* CONTENT end */

/*FOOTER*/

/* line 161, D:/PROJECT/flowers/source/css/style.scss */

footer {
	position: absolute;
	bottom: 0;
	margin-top: 50px;
	text-align: center;
}

/* line 167, D:/PROJECT/flowers/source/css/style.scss */

.footer-top {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #aaa;
	color: #fff;
}

/* line 173, D:/PROJECT/flowers/source/css/style.scss */

.footer-top h4 {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #fff;
}

/* line 178, D:/PROJECT/flowers/source/css/style.scss */

.footer-top .social-btn a {
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	padding: 7px;
	color: #fff;
	border: 1px solid #fff;
}

/* line 188, D:/PROJECT/flowers/source/css/style.scss */

.footer-top .social-btn a:hover,
.footer-top .social-btn a:focus {
	text-decoration: none;
}

/* line 191, D:/PROJECT/flowers/source/css/style.scss */

.footer-bottom {
	background: #999;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*FOOTER-end*/

@media only screen and (min-width: 480px) {

/* line 210, D:/PROJECT/flowers/source/css/style.scss */

.features-item img {
	margin: auto;
}

/* line 213, D:/PROJECT/flowers/source/css/style.scss */

.images-item img {
	margin: auto;
}

}

@media only screen and (min-width: 960px) {

/* line 202, D:/PROJECT/flowers/source/css/style.scss */

.order-section__left {
	margin-top: 3%;
}

}

