$font-family1: 'Ubuntu', sans-serif;
$font-family2: 'Arial', sans-serif;
$color1: #434343;
$color2: #333333;
$nav-color: #2a2d32;
$nav-a-color: #fff;
$nav-list__active-color: #248cec;
$nav-a-hover-color: #f4b60d;
$search-bg-color: #35383c;
$search-color: #fff;