$font-family1: 'Ubuntu', sans-serif;
$font-family2: 'Arial', sans-serif;
$color1: #434343;
$color2: #333333;
$nav-color: #2a2d32;
$nav-a-color: #fff;
$nav-list__active-color: #248cec;
$nav-a-hover-color: #f4b60d;
$search-bg-color: #35383c;
$search-color: #fff;
$icon-color: #ccc;
$icon-hover-color: #248cec;
$search-icon__btn-color: #5d6063;
$features-p-color: #8a8a8a;
$features-num-color: #e9e9ea;
$features-a-color: #2a2b2e;
$galery-wrap-color: #2a2d32;
$news-wrap-color: #f7f7f7;
$news-day-color: #f4b60d;
$accordion-brdr-color: #e8e8e8;
$accordion-active-color: #f4b60d;
$footer-color: #35383c;