
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.container-carusel {
  position: relative;
  width: 830px;
  margin: 100px auto;
  padding: 0;
  overflow: hidden;
}
.ul-carusel {
  position: relative;
  padding: 0;
  list-style: none;
  width: 10000px;
  font-size: 0;
}
.ul-carusel li {
  float: left;
  margin-right: 20px;
}
.ul-carusel img {
  max-width: 150px;
}
.btn-carusel {
  display: inline-block;
  font-size: 100px;
  padding: 10px 30px;
  position: absolute;
  top: 140px;
  cursor: default;
}
.btn-left {
  left: 70px;
  opacity: .1
}
.btn-right {
  right: 70px;
  opacity: .1
}
.start {
  opacity: 1;
  cursor: pointer;
}