$ff1: 'Montserrat', sans-serif;
$ff2: 'Roboto', sans-serif;

$header-text-color: #fff;
$btn-revers-color: #fff;
$btn-color: #ff4e50;
$btn-text-color: #fff;
$how-works__item-color: #ccc;
$h2-color: #333;
$partners-text-color: #666;
$input-color: #999;

